<div class="container py-3">
  <div class="d-lg-flex align-items-center justify-content-lg-between align-items-lg-center">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb breadcrumb-no-gutter font-size-0 space-0 mb-0">
        <li class="breadcrumb-item">
          <a href="<%= original_source %>/?clang=<%= i18n_lang %>" class="h6 text-black-50"><%= translation.breadcrumbs_home%></a>
        </li>
        <% breadcrumbs.forEach((breadcrumb) => { %>
        <li class="breadcrumb-item" aria-current="page">
          <a href="<%= breadcrumb.url %>" class="h6">
            <%= breadcrumb.label %>
          </a>
        </li>
        <% }) %>
      </ol>
    </nav>
    <div class="ml-lg-auto d-block mobile-none">
      <div class="row justify-content-sm-between align-items-sm-center">
        <!-- Search -->
        <form action="<%= original_source %>/knowledge/<%= search_path.category_id %>/?clang=<%= i18n_lang %>" id="formsearch" method="get"
          accept-charset="utf-8">
          <div class="js-focus-state input-group input-group-sm">
            <input id="search" name="search" type="text" value="" class="form-control"
              placeholder=" Search <%= search_placeholder %>" aria-label="Search activities"
              aria-describedby="searchActivities" />
            <div class="input-group-prepend">
              <span class="input-group-text pointer" id="searchActivities" onclick="$('#formsearch').submit();">
                <span class="fas fa-search"></span>
              </span>
            </div>
          </div>
        </form>
        <!-- End Search -->
      </div>
      <!-- <a class="btn btn-xs btn-icon  text-primary-theme target-of-invoker-has-unfolds" href="javascript:;" role="button" aria-haspopup="true" aria-expanded="false" aria-controls="searchPushTop" data-unfold-type="jquery-slide" data-unfold-target="#searchPushTop">
              <span class="fas fa-search btn-icon__inner fa-2x"></span>
            </a> -->
    </div>
  </div>
</div>

<!-- text-primary-theme -->