<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<!-- Tell the browser to be responsive to screen width -->
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="keywords" content="" />
<meta name="description" content="" />
<meta name="robots" content="noindex,nofollow" />
<meta name="author" content="DSP">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="api_project" content="<%= project %>">
<meta name="api_path" content="<%= api %>">
<meta name="file_project" content="<%= file_path %>">
<title><%= title %></title>
<link rel="canonical" href="<%= original_source %>" />
<!-- Favicon -->
<link rel="shortcut icon" href="/images/favicon/favicon.ico">
<link rel="apple-touch-icon" href="/images/favicon/favicon.ico" />
<link rel="manifest" href="/manifest.json" />
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="theme-color" content="#ffffff">
 <!-- CSS Implementing Plugins -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,400;0,800;1,400;1,800&display=swap" >
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.2/themes/black-tie/jquery-ui.min.css" integrity="sha512-+Z63RrG0zPf5kR9rHp9NlTMM29nxf02r1tkbfwTRGaHir2Bsh4u8A79PiUKkJq5V5QdugkL+KPfISvl67adC+Q==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="/plugin/hs-megamenu/hs.megamenu.css">
<link rel="stylesheet" href="/plugin/slick-carousel/slick-carousel.css">
<!-- Custom CSS -->
<link href="/stylesheets/theme.css" rel="stylesheet" />
<link href="/stylesheets/style.css" rel="stylesheet" />
<style>
    :root {
    --primary-theme: <%=themcolor%>;
    }
    
</style>