<!DOCTYPE html>
<html lang="<%= i18n_lang %>">

<head>
  <%- include('../partials/head'); -%> <%- include('../partials/nav'); -%>


</head>

<body>
  <%- include('../partials/header'); -%>
    <!-- ========== MAIN CONTENT ========== -->
    <main id="content" role="main">
      <!-- Breadcrumb Section -->
      <%- include('../partials/breadcrumb-lms'); -%>
        <!-- End Breadcrumb Section -->
        <!-- Two Block -->
        <div class="container mt-5 rounded-lg"
          style="border:1px solid rgb(190,209,241);background-color: rgba(235,235,235,255) ;border-color: rgb(190,209,241);">

          <div class="conatiner">
            <div class="row">
              <div class="col-lg-2 col-md-6">
                <img class="rounded-lg" src="/images/iconslearn/employee.png" style="width:300px " alt="พนักงาน">
              </div>
              <div class="col-10">


                <h1 class="text mt-5" style="color: rgb(100, 18, 18);margin-left: 110px;font-size: 30px;">
                  หลักสูตรเตรียมสอบภาค ก. ปริญญาตรี สำนักงาน ก.พ.</h1>
                <table class="table-responsive">
                  <thead>
                    <tr class="text-uppercase text-center">
                      <th class="font-weight-medium text-center" style="width: 75%;">
                      <th class="font-weight-medium text-center" style="width: 25%;">
           
  
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">
                        <p class="text mt-1" style="margin-left: 120px;color: rgb(100, 18, 18);"><img
                            class="rounded-circle" src="/images/iconslearn/Pass.png" style='width: 30px;margin-right: 20px;' alt="pass">
                          ความสามารถในการคิดวิเคราะห์ 
                        </p>
                      </th>

                      </td>
                      <td> <button class="rounded-lg mt-1"
                          style="width: 250px;height: 50px;margin-left: 50px;background-color: rgba(64,27,3,255);color: white;align-self:flex-end;border-style: none;font-size: 26px;">เข้าเรียน</button>
                      </td>

                    </tr>
                    <tr>
                      <th scope="row">
                        <p style="margin-left: 120px;color: rgb(100, 18, 18);"><img class="rounded-circle"
                            src="/images/iconslearn/Pass.png" style='width: 30px;margin-right: 20px;' alt="pass">
                          วิชาภาษาอังกฤษ
                        </p>
                      </th>

                      </td>
                      <td> <button class="rounded-lg mt-1"
                          style="width: 250px;height: 50px;margin-left: 50px;background-color: rgba(64,27,3,255);color: white;align-self:flex-end;border-style: none;font-size: 26px;">เข้าเรียน</button>
                      </td>
                    </tr>
                    <tr>
                      <th scope="row">
                        <p style="margin-left: 120px;color: rgb(100, 18, 18);"><img class="rounded-circle"
                            src="/images/iconslearn/Pass.png" style='width: 30px;margin-right: 20px;' alt="pass">
                          วิชาความรู้และลักษณะการเป็นข้าราชการที่ดี
                        </p>
                      </th>

                      </td>
                      <td> <button class="rounded-lg mt-1"
                          style="width: 250px;height: 50px;margin-left: 50px;background-color: rgba(64,27,3,255);color: white;align-self:flex-end;border-style: none;font-size: 26px;">เข้าเรียน</button>
                      </td>
                  </tbody>
                </table>

                <div class="conatiner">
                  <h1 style="color: rgb(100, 18, 18);font-size: 30px;margin-left: 113px;;margin-right: 20px;">ข้อสอบ ภาค ก. ปริญญาตรี สำนักงาน ก.พ.
                    </h1>
                  <table class="table-responsive">
                    <tbody>
                      <tr>
                        <th scope="col"></th>
                        <th scope="col" style="text-align: center;"></th>
                        <th scope="col" style="text-align: center;"></th>
                        <th scope="col" style="text-align: center;"></th>
                      </tr>
                    </tbody>
                    <table class="table-responsive">
                      <thead>
                        <tr class="text-uppercase text-center">
                          <th class="font-weight-medium text-center" style="width: 75%;">
                          <th class="font-weight-medium text-center" style="width: 25%;">
               
      
                      </thead>
                      <tbody>
                        <tr>
                          <th scope="row">
                            <p class="text mt-2" style="margin-left: 120px;color: rgb(100, 18, 18);"><img
                                class="rounded-circle" src="/images/iconslearn/Pass.png" style='width: 30px;margin-right: 20px;'
                                alt="pass">
                              ข้อสอบ ภาค ก. ปริญญาตรี สำนักงาน ก.พ. ชุดที่ 1 

                            </p>
                          </th>

                          </td>
                          <td> <button class="rounded-lg mt-2"
                              style="width: 250px;height: 50px;margin-left: 50px;background-color: rgba(64,27,3,255);color: white;align-self:flex-end;border-style: none;font-size: 26px;">เข้าสอบ</button>
                          </td>

                        </tr>
                        <tr>
                          <th scope="row">
                            <p style="margin-left: 120px;color: rgb(100, 18, 18);"><img class="rounded-circle"
                                src="/images/iconslearn/Pass.png" style='width: 30px;margin-right: 20px;' alt="pass">
                                ข้อสอบ ภาค ก. ปริญญาตรี สำนักงาน ก.พ. ชุดที่ 2
                            </p>
                          </th>

                          </td>
                          <td> <button class="rounded-lg "
                              style="width: 250px;height: 50px;margin-left: 50px;background-color: rgba(64,27,3,255);color: white;align-self:flex-end;border-style: none;font-size: 26px;">เข้าสอบ</button>
                          </td>
                        </tr>
                        <tr>
                          <th scope="row">
                            <p style="margin-left: 120px;color: rgb(100, 18, 18);"><img class="rounded-circle"
                                src="/images/iconslearn/Pass.png" style='width: 30px;margin-right: 20px;' alt="pass">
                                ข้อสอบ ภาค ก. ปริญญาตรี สำนักงาน ก.พ. ชุดที่ 3
                            </p>
                          </th>

                          </td>
                          <td> <button class="rounded-lg "
                              style="width: 250px;height: 50px;margin-left: 50px;background-color: rgba(64,27,3,255);color: white;align-self:flex-end;border-style: none;font-size: 26px;">เข้าสอบ</button>
                          </td>
                        </tr>
                        <tr>
                          <th scope="row">
                            <p style="margin-left: 120px;color: rgb(100, 18, 18);"><img class="rounded-circle"
                                src="/images/iconslearn/Pass.png" style='width: 30px;margin-right: 20px;' alt="pass">
                                ข้อสอบ ภาค ก. ปริญญาตรี สำนักงาน ก.พ. ชุดที่ 4
                            </p>
                          </th>

                          </td>
                          <td> <button class="rounded-lg "
                              style="width: 250px;height: 50px;margin-left: 50px;background-color: rgba(64,27,3,255);color: white;align-self:flex-end;border-style: none;font-size: 26px;">เข้าสอบ</button>
                          </td>
                        </tr>
                        <tr>
                          <th scope="row">
                            <p style="margin-left: 120px;color: rgb(100, 18, 18);"><img class="rounded-circle"
                                src="/images/iconslearn/Pass.png" style='width: 30px;margin-right: 20px;' alt="pass">
                                ข้อสอบ ภาค ก. ปริญญาตรี สำนักงาน ก.พ. ชุดที่ 5
                            </p>
                          </th>

                          </td>
                          <td> <button class="rounded-lg "
                              style="width: 250px;height: 50px;margin-left: 50px;background-color: rgba(64,27,3,255);color: white;align-self:flex-end;border-style: none;font-size: 26px;">เข้าสอบ</button>
                          </td>
                        </tr>
                        <tr>
                          <th scope="row">
                            <p style="margin-left: 120px;color: rgb(100, 18, 18);"><img class="rounded-circle"
                                src="/images/iconslearn/Pass.png" style='width: 30px;margin-right: 20px;' alt="pass">
                                ข้อสอบ ภาค ก. ปริญญาตรี สำนักงาน ก.พ. ชุดที่ 6
                            </p>
                          </th>

                          </td>
                          <td> <button class="rounded-lg "
                              style="width: 250px;height: 50px;margin-left: 50px;background-color: rgba(64,27,3,255);color: white;align-self:flex-end;border-style: none;font-size: 26px;">เข้าสอบ</button>
                          </td>
                        </tr>
                        <tr>
                          <th scope="row">
                            <p style="margin-left: 120px;color: rgb(100, 18, 18);"><img class="rounded-circle"
                                src="/images/iconslearn/Pass.png" style='width: 30px;margin-right: 20px;' alt="pass">
                                ข้อสอบ ภาค ก. ปริญญาตรี สำนักงาน ก.พ. ชุดที่ 7
                            </p>
                          </th>

                          </td>
                          <td> <button class="rounded-lg "
                              style="width: 250px;height: 50px;margin-left: 50px;background-color: rgba(64,27,3,255);color: white;align-self:flex-end;border-style: none;font-size: 26px;">เข้าสอบ</button>
                          </td>
                        </tr>
                        <tr>
                          <th scope="row">
                            <p style="margin-left: 120px;color: rgb(100, 18, 18);"><img class="rounded-circle"
                                src="/images/iconslearn/Pass.png" style='width: 30px;margin-right: 20px;' alt="pass">
                                ข้อสอบ ภาค ก. ปริญญาตรี สำนักงาน ก.พ. ชุดที่ 8
                            </p>
                          </th>

                          </td>
                          <td> <button class="rounded-lg "
                              style="width: 250px;height: 50px;margin-left: 50px;background-color: rgba(64,27,3,255);color: white;align-self:flex-end;border-style: none;font-size: 26px;">เข้าสอบ</button>
                          </td>
                        </tr>
                        <tr>
                          <th scope="row">
                            <p style="margin-left: 120px;color: rgb(100, 18, 18);"><img class="rounded-circle"
                                src="/images/iconslearn/Pass.png" style='width: 30px;margin-right: 20px;' alt="pass">
                                ข้อสอบ ภาค ก. ปริญญาตรี สำนักงาน ก.พ. ชุดที่ 9
                            </p>
                          </th>

                          </td>
                          <td> <button class="rounded-lg"
                              style="width: 250px;height: 50px;margin-left: 50px;background-color: rgba(64,27,3,255);color: white;align-self:flex-end;border-style: none;font-size: 26px;">เข้าสอบ</button>
                          </td>
                        </tr>
                        <tr>
                          <th scope="row">
                            <p style="margin-left: 120px;color: rgb(100, 18, 18);"><img class="rounded-circle"
                                src="/images/iconslearn/Pass.png" style='width: 30px;margin-right: 20px;' alt="pass">
                                ข้อสอบ ภาค ก. ปริญญาตรี สำนักงาน ก.พ. ชุดที่ 10
                            </p>
                          </th>

                          </td>
                          <td> <button class="rounded-lg mb-3"
                              style="width: 250px;height: 50px;margin-left: 50px;background-color: rgba(64,27,3,255);color: white;align-self:flex-end;border-style: none;font-size: 26px;">เข้าสอบ</button>
                          </td>
                        </tr>
                        

                      </tbody>
                    </table>
                    <p></p>




                </div>
              </div>


            </div>
          </div>
        </div>


        <!-- newmap -->
        <div class="container mt-8 rounded-lg"
          style="border:1px solid rgb(190,209,241);background-color: rgba(235,235,235,255) ;border-color: rgb(190,209,241);">

          <div class="conatiner">
            <div class="row">
              <div class="col-lg-2 col-md-6">
                <img class="rounded-lg" src="/images/iconslearn/employee.png" style="width:300px " alt="พนักงาน">
              </div>
              <div class="col-10">


                <h1 class="text mt-5" style="color: rgb(100, 18, 18);margin-left: 110px;font-size: 30px;">
                  หลักสูตรเตรียมสอบภาค ก. ปริญญาตรี สำนักงาน ก.พ.</h1>
                <table class="table-responsive">
                  <thead>
                    <tr class="text-uppercase text-center">
                      <th class="font-weight-medium text-center" style="width: 75%;">
                      <th class="font-weight-medium text-center" style="width: 25%;">
           
  
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">
                        <p class="text mt-1" style="margin-left: 120px;color: rgb(100, 18, 18);"><img
                            class="rounded-circle" src="/images/iconslearn/Pass.png" style='width: 30px;margin-right: 20px;' alt="pass">
                          ความสามารถในการคิดวิเคราะห์ 
                        </p>
                      </th>

                      </td>
                      <td> <button class="rounded-lg mt-1"
                          style="width: 250px;height: 50px;margin-left: 50px;background-color: rgba(64,27,3,255);color: white;align-self:flex-end;border-style: none;font-size: 26px;">เข้าเรียน</button>
                      </td>

                    </tr>
                    <tr>
                      <th scope="row">
                        <p style="margin-left: 120px;color: rgb(100, 18, 18);"><img class="rounded-circle"
                            src="/images/iconslearn/Pass.png" style='width: 30px;margin-right: 20px;' alt="pass">
                          วิชาภาษาอังกฤษ
                        </p>
                      </th>

                      </td>
                      <td> <button class="rounded-lg mt-1"
                          style="width: 250px;height: 50px;margin-left: 50px;background-color: rgba(64,27,3,255);color: white;align-self:flex-end;border-style: none;font-size: 26px;">เข้าเรียน</button>
                      </td>
                    </tr>
                    <tr>
                      <th scope="row">
                        <p style="margin-left: 120px;color: rgb(100, 18, 18);"><img class="rounded-circle"
                            src="/images/iconslearn/Pass.png" style='width: 30px;margin-right: 20px;' alt="pass">
                          วิชาความรู้และลักษณะการเป็นข้าราชการที่ดี
                        </p>
                      </th>

                      </td>
                      <td> <button class="rounded-lg mt-1"
                          style="width: 250px;height: 50px;margin-left: 50px;background-color: rgba(64,27,3,255);color: white;align-self:flex-end;border-style: none;font-size: 26px;">เข้าเรียน</button>
                      </td>
                  </tbody>
                </table>

                <div class="conatiner">
                  <h1 style="color: rgb(100, 18, 18);font-size: 30px;margin-left: 113px;">ข้อสอบ ภาค ก ปริญญาตรี
                    สำนักงาน ก.พ.</h1>
                  <table class="table-responsive">
                    <tbody>
                      <tr>
                        <th scope="col"></th>
                        <th scope="col" style="text-align: center;"></th>
                        <th scope="col" style="text-align: center;"></th>
                        <th scope="col" style="text-align: center;"></th>
                      </tr>
                    </tbody>
                    <table class="table-responsive">
                      <thead>
                        <tr class="text-uppercase text-center">
                          <th class="font-weight-medium text-center" style="width: 75%;">
                          <th class="font-weight-medium text-center" style="width: 25%;">
                      </thead>
                      <tbody>
                        <tr>
                          <th scope="row">
                            <p class="text mt-1" style="margin-left: 120px;color: rgb(100, 18, 18);"><img
                                class="rounded-circle" src="/images/iconslearn/Pass.png" style='width: 30px;margin-right: 20px;'
                                alt="pass">
                                ข้อสอบ ภาค ก. ปริญญาตรี สำนักงาน ก.พ. ชุดที่ 1

                            </p>
                          </th>

                          </td>
                          <td> <button class="rounded-lg mt-1"
                              style="width: 250px;height: 50px;margin-left: 50px;background-color: rgba(64,27,3,255);color: white;align-self:flex-end;border-style: none;font-size: 26px;">เข้าสอบ</button>
                          </td>

                        </tr>
                        <tr>
                          <th scope="row">
                            <p style="margin-left: 120px;color: rgb(100, 18, 18);"><img class="rounded-circle"
                                src="/images/iconslearn/Pass.png" style='width: 30px;margin-right: 20px;' alt="pass">
                                ข้อสอบ ภาค ก. ปริญญาตรี สำนักงาน ก.พ. ชุดที่ 2
                            </p>
                          </th>

                          </td>
                          <td> <button class="rounded-lg mt-1"
                              style="width: 250px;height: 50px;margin-left: 50px;background-color: rgba(64,27,3,255);color: white;align-self:flex-end;border-style: none;font-size: 26px;">เข้าสอบ</button>
                          </td>
                        </tr>
                        <tr>
                          <th scope="row">
                            <p style="margin-left: 120px;color: rgb(100, 18, 18);"><img class="rounded-circle"
                                src="/images/iconslearn/Pass.png" style='width: 30px;margin-right: 20px;' alt="pass">
                                ข้อสอบ ภาค ก. ปริญญาตรี สำนักงาน ก.พ. ชุดที่ 3
                            </p>
                          </th>

                          </td>
                          <td> <button class="rounded-lg mt-1"
                              style="width: 250px;height: 50px;margin-left: 50px;background-color: rgba(64,27,3,255);color: white;align-self:flex-end;border-style: none;font-size: 26px;">เข้าสอบ</button>
                          </td>
                        </tr>
                        <tr>
                          <th scope="row">
                            <p style="margin-left: 120px;color: rgb(100, 18, 18);"><img class="rounded-circle"
                                src="/images/iconslearn/Pass.png" style='width: 30px;margin-right: 20px;' alt="pass">
                                ข้อสอบ ภาค ก. ปริญญาตรี สำนักงาน ก.พ. ชุดที่ 4
                            </p>
                          </th>

                          </td>
                          <td> <button class="rounded-lg mt-1"
                              style="width: 250px;height: 50px;margin-left: 50px;background-color: rgba(64,27,3,255);color: white;align-self:flex-end;border-style: none;font-size: 26px;">เข้าสอบ</button>
                          </td>
                        </tr>
                        <tr>
                          <th scope="row">
                            <p style="margin-left: 120px;color: rgb(100, 18, 18);"><img class="rounded-circle"
                                src="/images/iconslearn/Pass.png" style='width: 30px;margin-right: 20px;' alt="pass">
                                ข้อสอบ ภาค ก. ปริญญาตรี สำนักงาน ก.พ. ชุดที่ 5
                            </p>
                          </th>

                          </td>
                          <td> <button class="rounded-lg mt-1"
                              style="width: 250px;height: 50px;margin-left: 50px;background-color: rgba(64,27,3,255);color: white;align-self:flex-end;border-style: none;font-size: 26px;">เข้าสอบ</button>
                          </td>
                        </tr>
                        <tr>
                          <th scope="row">
                            <p style="margin-left: 120px;color: rgb(100, 18, 18);"><img class="rounded-circle"
                                src="/images/iconslearn/Pass.png" style='width: 30px;margin-right: 20px;' alt="pass">
                                ข้อสอบ ภาค ก. ปริญญาตรี สำนักงาน ก.พ. ชุดที่ 6
                            </p>
                          </th>

                          </td>
                          <td> <button class="rounded-lg mt-1"
                              style="width: 250px;height: 50px;margin-left: 50px;background-color: rgba(64,27,3,255);color: white;align-self:flex-end;border-style: none;font-size: 26px;">เข้าสอบ</button>
                          </td>
                        </tr>
                        <tr>
                          <th scope="row">
                            <p style="margin-left: 120px;color: rgb(100, 18, 18);"><img class="rounded-circle"
                                src="/images/iconslearn/Pass.png" style='width: 30px;margin-right: 20px;' alt="pass">
                                ข้อสอบ ภาค ก. ปริญญาตรี สำนักงาน ก.พ. ชุดที่ 7
                            </p>
                          </th>

                          </td>
                          <td> <button class="rounded-lg mt-1"
                              style="width: 250px;height: 50px;margin-left: 50px;background-color: rgba(64,27,3,255);color: white;align-self:flex-end;border-style: none;font-size: 26px;">เข้าสอบ</button>
                          </td>
                        </tr>
                        <tr>
                          <th scope="row">
                            <p style="margin-left: 120px;color: rgb(100, 18, 18);"><img class="rounded-circle"
                                src="/images/iconslearn/Pass.png" style='width: 30px;margin-right: 20px;' alt="pass">
                                ข้อสอบ ภาค ก. ปริญญาตรี สำนักงาน ก.พ. ชุดที่ 8
                            </p>
                          </th>

                          </td>
                          <td> <button class="rounded-lg mt-1"
                              style="width: 250px;height: 50px;margin-left: 50px;background-color: rgba(64,27,3,255);color: white;align-self:flex-end;border-style: none;font-size: 26px;">เข้าสอบ</button>
                          </td>
                        </tr>
                        <tr>
                          <th scope="row">
                            <p style="margin-left: 120px;color: rgb(100, 18, 18);"><img class="rounded-circle"
                                src="/images/iconslearn/Pass.png" style='width: 30px;margin-right: 20px;' alt="pass">
                                ข้อสอบ ภาค ก. ปริญญาตรี สำนักงาน ก.พ. ชุดที่ 9
                            </p>
                          </th>

                          </td>
                          <td> <button class="rounded-lg mt-1"
                              style="width: 250px;height: 50px;margin-left: 50px;background-color: rgba(64,27,3,255);color: white;align-self:flex-end;border-style: none;font-size: 26px;">เข้าสอบ</button>
                          </td>
                        </tr>
                        <tr>
                          <th scope="row">
                            <p style="margin-left: 120px;color: rgb(100, 18, 18);"><img class="rounded-circle"
                                src="/images/iconslearn/Pass.png" style='width: 30px;margin-right: 20px;' alt="pass">
                              ข้อสอบ ภาค ก. ปริญญาตรี สำนักงาน ก.พ. ชุดที่ 10
                            </p>
                          </th>

                          </td>
                          <td> <button class="rounded-lg mt-1"
                              style="width: 250px;height: 50px;margin-left: 50px;background-color: rgba(64,27,3,255);color: white;align-self:flex-end;border-style: none;font-size: 26px;">เข้าสอบ</button>
                          </td>
                        </tr>
                        <br>

                      </tbody>
                    </table>

                    <p></p>



                </div>
              </div>


            </div>
          </div>
        </div>
        <div class="page-number mt-6 pb-1  ">
          <style>
            ul {
              text-align: right;
              display: flex;
              justify-content:flex-end;
              list-style: none;
            }
          </style>
          
          <ul class="number-page" style="margin-right: 140px;color: black;font-size: 1.3vw  ;">
            <li style="color: black;margin-right: 10px;"><<</li>
            <li style="color: black;margin-right: 10px;">1</li>
            <li style="color: black;margin-right: 10px;">2</li>
            <li style="color: black;margin-right: 10px;">3</li>
            <li style="color: black;margin-right: 10px;">4</li>
            <li style="color: black;margin-right: 10px;">5</li>
            <li style="color: black;margin-right: 10px;">6</li>
            <li style="color: black;margin-right: 10px;">7</li>
            <li style="color: black;margin-right: 10px;">8</li>
            <li style="color: black;margin-right: 10px;">9</li>
            <li style="color: black;margin-right: 10px;">10</li>
            <li style="color: black;margin-right: 10px;">>></li>
          </ul>
        <!-- End Two Block -->
        <%- include('../partials/aside'); -%>
    </main>
    <!-- ========== END MAIN CONTENT ========== -->
    <%- include('../partials/footer'); -%>
      <%- include('../partials/script'); -%>
        <script>
          function feedPage() {
            let list_block = $('.lms-block ul > li').length;
            if (list_block == 1) {
              $('.lms-block ul > li').addClass('classZeroRowDisplay');
            }
          }
        </script>

</body>

</html>