<!DOCTYPE html>
<html lang="<%= i18n_lang %>">

<head>
  <%- include('../partials/head'); -%> <%- include('../partials/nav'); -%>
      <style>
        .custom-btn {
          display: inline-block;
          width: 100%;
          padding: 8px;
          border-radius: 15px;
          background-color: rgb(66, 23, 23);
          /* Change the background color as needed */
          color: #ffffff;
          /* Change the text color as needed */
          font-size: 25 x;
          /* Adjust the font size as needed */
          text-align: center;
          text-decoration: none;
        }

        img {
          width: 100%;
        }

        @media only screen and (max-width: 768px) {
        .employtop {
            font-size: 25px;
        }

    }
        @media only screen and (max-width: 768px) {
        .number-page {
            justify-content: center;
        }

    }


      </style>

</head>


<body>
  <%- include('../partials/header'); -%>
    <!-- ========== MAIN CONTENT ========== -->
    <main id="content" role="main">
      <!-- Breadcrumb Section -->
      <%- include('../partials/breadcrumb-lms'); -%>
        <!-- End Breadcrumb Section -->
        <!-- Two Block -->

        <!-- หน้าPSD 7 -->
        <div class="container mt-5" style="border: 1px solid;border-radius: 7px;border-color: rgb(203,217,242);background-color: rgb(235, 235, 235);">
          <div class="row">
            <div class="col-lg-3 col-sm-12 p-0 pr-0 img-hover">
              <img class="employeepic" src="/images/iconslearn/employee.png" style="border-top-right-radius: 5px;" alt="">
            </div>
            <div class="col-lg-9 mt-6 pl-5">
              <div class="headtopbro">
                <h3 class="employtop" style="color: rgb(84,51,30);" >หลักสูตรเตรียมสอบ ภาค ก. ปริญญาตรี สำนักงาน ก.พ.</h3>
              </div>
              <div class="row">
                <div class="col-lg-9 col-md-6 mb-3 pl-5 p-2" style="color: rgb(84,51,30);">
                  <span class="btn btn-xs btn-icon btn-soft-primary rounded-circle mr-4"
                    style="background-color: rgb(233, 205, 207);">
                    <i class="fas fa-arrow-circle-right btn-icon__inner" style="color: rgb(171, 25, 38);"></i>
                  </span>
                  ความสามารถในการคิดวิเคราะห์
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6">
                  <div class="btnnaja">
                    <div class="custom-btn w-100">
                      เข้าเรียน
                    </div>

                  </div>
                </div>
                <div class="col-lg-9 col-md-6 mb-3 pl-5 p-2" style="color: rgb(84,51,30);">
                  <span class="btn btn-xs btn-icon btn-soft-primary rounded-circle mr-4"
                    style="background-color: rgb(233, 205, 207);">
                    <i class="fas fa-arrow-circle-right btn-icon__inner" style="color: rgb(171, 25, 38);"></i>
                  </span>
                  วิชาภาษาอังกฤษ
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6">
                  <div class="btnnaja">
                    <div class="custom-btn w-100">
                      เข้าเรียน
                    </div>

                  </div>
                </div>
                <div class="col-lg-9 col-md-6 mb-3 pl-5 p-2" style="color: rgb(84,51,30);">
                  <span class="btn btn-xs btn-icon btn-soft-primary rounded-circle mr-4"
                    style="background-color: rgb(233, 205, 207);">
                    <i class="fas fa-arrow-circle-right btn-icon__inner" style="color: rgb(171, 25, 38);"></i>
                  </span>
                  วิชาความรู้และลักษณะการเป็นข้าราชการที่ดี
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6">
                  <div class="btnnaja">
                    <div class="custom-btn w-100">
                      เข้าเรียน
                    </div>

                  </div>
                </div>
                <div class="row p-3">
                  <div class="col-lg-12 mt-6">
                    <div class="headtopbro">
                      <h3 class="employtop" style="color: rgb(84,51,30);" >ข้อสอบ ภาค ก. ปริญญาตรี สำนักงาน ก.พ.</h3>
                    </div>
                    <div class="row">
                      <div class="col-lg-9 col-md-6 mb-3 pl-5 p-2 mt-5" style="color: rgb(84,51,30);">
                        <span class="btn btn-xs btn-icon btn-soft-primary rounded-circle mr-4"
                          style="background-color: rgb(233, 205, 207);">
                          <i class="fas fa-arrow-circle-right btn-icon__inner" style="color: rgb(171, 25, 38);"></i>
                        </span>
                        ข้อสอบ ภาค ก. ปริญญาตรี สำนักงาน ก.พ. ชุดที่ 1
                      </div>
                      <div class="col-xl-3 col-lg-3 col-md-6 mt-5">
                        <div class="btnnaja">
                          <div class="custom-btn w-100">
                            เข้าสอบ
                          </div>

                        </div>
                      </div>
                      <div class="col-lg-9 col-md-6 mb-3 pl-5 p-2" style="color: rgb(84,51,30);">
                        <span class="btn btn-xs btn-icon btn-soft-primary rounded-circle mr-4"
                          style="background-color: rgb(233, 205, 207);">
                          <i class="fas fa-arrow-circle-right btn-icon__inner" style="color: rgb(171, 25, 38);"></i>
                        </span>
                        ข้อสอบ ภาค ก. ปริญญาตรี สำนักงาน ก.พ. ชุดที่ 2
                      </div>
                      <div class="col-xl-3 col-lg-3 col-md-6">
                        <div class="btnnaja">
                          <div class="custom-btn w-100">
                            เข้าสอบ
                          </div>

                        </div>
                      </div>
                      <div class="col-lg-9 col-md-6 mb-3 pl-5 p-2" style="color: rgb(84,51,30);">
                        <span class="btn btn-xs btn-icon btn-soft-primary rounded-circle mr-4"
                          style="background-color: rgb(233, 205, 207);">
                          <i class="fas fa-arrow-circle-right btn-icon__inner" style="color: rgb(171, 25, 38);"></i>
                        </span>
                        ข้อสอบ ภาค ก. ปริญญาตรี สำนักงาน ก.พ. ชุดที่ 3
                      </div>
                      <div class="col-xl-3 col-lg-3 col-md-6">
                        <div class="btnnaja">
                          <div class="custom-btn w-100">
                            เข้าสอบ
                          </div>

                        </div>
                      </div>
                      <div class="col-lg-9 col-md-6 mb-3 pl-5 p-2" style="color: rgb(84,51,30);">
                        <span class="btn btn-xs btn-icon btn-soft-primary rounded-circle mr-4"
                          style="background-color: rgb(233, 205, 207);">
                          <i class="fas fa-arrow-circle-right btn-icon__inner" style="color: rgb(171, 25, 38);"></i>
                        </span>
                        ข้อสอบ ภาค ก. ปริญญาตรี สำนักงาน ก.พ. ชุดที่ 4
                      </div>
                      <div class="col-xl-3 col-lg-3 col-md-6">
                        <div class="btnnaja">
                          <div class="custom-btn w-100">
                            เข้าสอบ
                          </div>

                        </div>
                      </div>
                      <div class="col-lg-9 col-md-6 mb-3 pl-5 p-2" style="color: rgb(84,51,30);">
                        <span class="btn btn-xs btn-icon btn-soft-primary rounded-circle mr-4"
                          style="background-color: rgb(233, 205, 207);">
                          <i class="fas fa-arrow-circle-right btn-icon__inner" style="color: rgb(171, 25, 38);"></i>
                        </span>
                        ข้อสอบ ภาค ก. ปริญญาตรี สำนักงาน ก.พ. ชุดที่ 5
                      </div>
                      <div class="col-xl-3 col-lg-3 col-md-6">
                        <div class="btnnaja">
                          <div class="custom-btn w-100">
                            เข้าสอบ
                          </div>

                        </div>
                      </div>
                      <div class="col-lg-9 col-md-6 mb-3 pl-5 p-2" style="color: rgb(84,51,30);">
                        <span class="btn btn-xs btn-icon btn-soft-primary rounded-circle mr-4"
                          style="background-color: rgb(233, 205, 207);">
                          <i class="fas fa-arrow-circle-right btn-icon__inner" style="color: rgb(171, 25, 38);"></i>
                        </span>
                        ข้อสอบ ภาค ก. ปริญญาตรี สำนักงาน ก.พ. ชุดที่ 6
                      </div>
                      <div class="col-xl-3 col-lg-3 col-md-6">
                        <div class="btnnaja">
                          <div class="custom-btn w-100">
                            เข้าสอบ
                          </div>

                        </div>
                      </div>
                      <div class="col-lg-9 col-md-6 mb-3 pl-5 p-2" style="color: rgb(84,51,30);">
                        <span class="btn btn-xs btn-icon btn-soft-primary rounded-circle mr-4"
                          style="background-color: rgb(233, 205, 207);">
                          <i class="fas fa-arrow-circle-right btn-icon__inner" style="color: rgb(171, 25, 38);"></i>
                        </span>
                        ข้อสอบ ภาค ก. ปริญญาตรี สำนักงาน ก.พ. ชุดที่ 7
                      </div>
                      <div class="col-xl-3 col-lg-3 col-md-6">
                        <div class="btnnaja">
                          <div class="custom-btn w-100">
                            เข้าสอบ
                          </div>

                        </div>
                      </div>

                      <div class="col-lg-9 col-md-6 mb-3 pl-5 p-2" style="color: rgb(84,51,30);">
                        <span class="btn btn-xs btn-icon btn-soft-primary rounded-circle mr-4"
                          style="background-color: rgb(233, 205, 207);">
                          <i class="fas fa-arrow-circle-right btn-icon__inner" style="color: rgb(171, 25, 38);"></i>
                        </span>
                        ข้อสอบ ภาค ก. ปริญญาตรี สำนักงาน ก.พ. ชุดที่ 8
                      </div>
                      <div class="col-xl-3 col-lg-3 col-md-6">
                        <div class="btnnaja">
                          <div class="custom-btn w-100">
                            เข้าสอบ
                          </div>

                        </div>
                      </div>

                      <div class="col-lg-9 col-md-6 mb-3 pl-5 p-2" style="color: rgb(84,51,30);">
                        <span class="btn btn-xs btn-icon btn-soft-primary rounded-circle mr-4"
                          style="background-color: rgb(233, 205, 207);">
                          <i class="fas fa-arrow-circle-right btn-icon__inner" style="color: rgb(171, 25, 38);"></i>
                        </span>
                        ข้อสอบ ภาค ก. ปริญญาตรี สำนักงาน ก.พ. ชุดที่ 9
                      </div>
                      <div class="col-xl-3 col-lg-3 col-md-6">
                        <div class="btnnaja">
                          <div class="custom-btn w-100">
                            เข้าสอบ
                          </div>

                        </div>
                      </div>

                      <div class="col-lg-9 col-md-6 mb-3 pl-5 p-2" style="color: rgb(84,51,30);">
                        <span class="btn btn-xs btn-icon btn-soft-primary rounded-circle mr-4"
                          style="background-color: rgb(233, 205, 207);">
                          <i class="fas fa-arrow-circle-right btn-icon__inner" style="color: rgb(171, 25, 38);"></i>
                        </span>
                        ข้อสอบ ภาค ก. ปริญญาตรี สำนักงาน ก.พ. ชุดที่ 10
                      </div>
                      <div class="col-xl-3 col-lg-3 col-md-6">
                        <div class="btnnaja">
                          <div class="custom-btn w-100">
                            เข้าสอบ
                          </div>

                        </div>
                      </div>


                    </div>
                  


                </div>

              </div>
          </div>
          </div>
          </div>
          </div>
          <div class="container mt-5" style="border: 1px solid;border-radius: 7px;border-color: rgb(203,217,242);background-color: rgb(235, 235, 235);">
            <div class="row">
              <div class="col-lg-3 col-sm-12 p-0 pr-0 img-hover">
                <img class="employeepic" src="/images/iconslearn/employee.png" style="border-top-right-radius: 5px;" alt="">
              </div>
              <div class="col-lg-9 mt-6 pl-5">
                <div class="headtopbro">
                  <h3  class="employtop" style="color: rgb(84,51,30);" >หลักสูตรเตรียมสอบ ภาค ก. ปริญญาตรี สำนักงาน ก.พ.</h3>
                </div>
                <div class="row">
                  <div class="col-lg-9 col-md-6 mb-3 pl-5 p-2" style="color: rgb(84,51,30);">
                    <span class="btn btn-xs btn-icon btn-soft-primary rounded-circle mr-4"
                      style="background-color: rgb(233, 205, 207);">
                      <i class="fas fa-arrow-circle-right btn-icon__inner" style="color: rgb(171, 25, 38);"></i>
                    </span>
                    ความสามารถในการคิดวิเคราะห์
                  </div>
                  <div class="col-xl-3 col-lg-3 col-md-6">
                    <div class="btnnaja">
                      <div class="custom-btn w-100">
                        เข้าเรียน
                      </div>
  
                    </div>
                  </div>
                  <div class="col-lg-9 col-md-6 mb-3 pl-5 p-2" style="color: rgb(84,51,30);">
                    <span class="btn btn-xs btn-icon btn-soft-primary rounded-circle mr-4"
                      style="background-color: rgb(233, 205, 207);">
                      <i class="fas fa-arrow-circle-right btn-icon__inner" style="color: rgb(171, 25, 38);"></i>
                    </span>
                    วิชาภาษาอังกฤษ
                  </div>
                  <div class="col-xl-3 col-lg-3 col-md-6">
                    <div class="btnnaja">
                      <div class="custom-btn w-100">
                        เข้าเรียน
                      </div>
  
                    </div>
                  </div>
                  <div class="col-lg-9 col-md-6 mb-3 pl-5 p-2" style="color: rgb(84,51,30);">
                    <span class="btn btn-xs btn-icon btn-soft-primary rounded-circle mr-4"
                      style="background-color: rgb(233, 205, 207);">
                      <i class="fas fa-arrow-circle-right btn-icon__inner" style="color: rgb(171, 25, 38);"></i>
                    </span>
                    วิชาความรู้และลักษณะการเป็นข้าราชการที่ดี
                  </div>
                  <div class="col-xl-3 col-lg-3 col-md-6">
                    <div class="btnnaja">
                      <div class="custom-btn w-100">
                        เข้าเรียน
                      </div>
  
                    </div>
                  </div>
                  <div class="row p-3">
                    <div class="col-lg-12 mt-6">
                      <div class="headtopbro">
                        <h3 class="employtop" style="color: rgb(84,51,30);" >ข้อสอบ ภาค ก. ปริญญาตรี สำนักงาน ก.พ.</h3>
                      </div>
                      <div class="row">
                        <div class="col-lg-9 col-md-6 mb-3 pl-5 p-2 mt-5" style="color: rgb(84,51,30);">
                          <span class="btn btn-xs btn-icon btn-soft-primary rounded-circle mr-4"
                            style="background-color: rgb(233, 205, 207);">
                            <i class="fas fa-arrow-circle-right btn-icon__inner" style="color: rgb(171, 25, 38);"></i>
                          </span>
                          ข้อสอบ ภาค ก. ปริญญาตรี สำนักงาน ก.พ. ชุดที่ 1
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-6 mt-5">
                          <div class="btnnaja">
                            <div class="custom-btn w-100">
                              เข้าสอบ
                            </div>
  
                          </div>
                        </div>
                        <div class="col-lg-9 col-md-6 mb-3 pl-5 p-2" style="color: rgb(84,51,30);">
                          <span class="btn btn-xs btn-icon btn-soft-primary rounded-circle mr-4"
                            style="background-color: rgb(233, 205, 207);">
                            <i class="fas fa-arrow-circle-right btn-icon__inner" style="color: rgb(171, 25, 38);"></i>
                          </span>
                          ข้อสอบ ภาค ก. ปริญญาตรี สำนักงาน ก.พ. ชุดที่ 2
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-6">
                          <div class="btnnaja">
                            <div class="custom-btn w-100">
                              เข้าสอบ
                            </div>
  
                          </div>
                        </div>
                        <div class="col-lg-9 col-md-6 mb-3 pl-5 p-2" style="color: rgb(84,51,30);">
                          <span class="btn btn-xs btn-icon btn-soft-primary rounded-circle mr-4"
                            style="background-color: rgb(233, 205, 207);">
                            <i class="fas fa-arrow-circle-right btn-icon__inner" style="color: rgb(171, 25, 38);"></i>
                          </span>
                          ข้อสอบ ภาค ก. ปริญญาตรี สำนักงาน ก.พ. ชุดที่ 3
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-6">
                          <div class="btnnaja">
                            <div class="custom-btn w-100">
                              เข้าสอบ
                            </div>
  
                          </div>
                        </div>
                        <div class="col-lg-9 col-md-6 mb-3 pl-5 p-2" style="color: rgb(84,51,30);">
                          <span class="btn btn-xs btn-icon btn-soft-primary rounded-circle mr-4"
                            style="background-color: rgb(233, 205, 207);">
                            <i class="fas fa-arrow-circle-right btn-icon__inner" style="color: rgb(171, 25, 38);"></i>
                          </span>
                          ข้อสอบ ภาค ก. ปริญญาตรี สำนักงาน ก.พ. ชุดที่ 4
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-6">
                          <div class="btnnaja">
                            <div class="custom-btn w-100">
                              เข้าสอบ
                            </div>
  
                          </div>
                        </div>
                        <div class="col-lg-9 col-md-6 mb-3 pl-5 p-2" style="color: rgb(84,51,30);">
                          <span class="btn btn-xs btn-icon btn-soft-primary rounded-circle mr-4"
                            style="background-color: rgb(233, 205, 207);">
                            <i class="fas fa-arrow-circle-right btn-icon__inner" style="color: rgb(171, 25, 38);"></i>
                          </span>
                          ข้อสอบ ภาค ก. ปริญญาตรี สำนักงาน ก.พ. ชุดที่ 5
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-6">
                          <div class="btnnaja">
                            <div class="custom-btn w-100">
                              เข้าสอบ
                            </div>
  
                          </div>
                        </div>
                        <div class="col-lg-9 col-md-6 mb-3 pl-5 p-2" style="color: rgb(84,51,30);">
                          <span class="btn btn-xs btn-icon btn-soft-primary rounded-circle mr-4"
                            style="background-color: rgb(233, 205, 207);">
                            <i class="fas fa-arrow-circle-right btn-icon__inner" style="color: rgb(171, 25, 38);"></i>
                          </span>
                          ข้อสอบ ภาค ก. ปริญญาตรี สำนักงาน ก.พ. ชุดที่ 6
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-6">
                          <div class="btnnaja">
                            <div class="custom-btn w-100">
                              เข้าสอบ
                            </div>
  
                          </div>
                        </div>
                        <div class="col-lg-9 col-md-6 mb-3 pl-5 p-2" style="color: rgb(84,51,30);">
                          <span class="btn btn-xs btn-icon btn-soft-primary rounded-circle mr-4"
                            style="background-color: rgb(233, 205, 207);">
                            <i class="fas fa-arrow-circle-right btn-icon__inner" style="color: rgb(171, 25, 38);"></i>
                          </span>
                          ข้อสอบ ภาค ก. ปริญญาตรี สำนักงาน ก.พ. ชุดที่ 7
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-6">
                          <div class="btnnaja">
                            <div class="custom-btn w-100">
                              เข้าสอบ
                            </div>
  
                          </div>
                        </div>
  
                        <div class="col-lg-9 col-md-6 mb-3 pl-5 p-2" style="color: rgb(84,51,30);">
                          <span class="btn btn-xs btn-icon btn-soft-primary rounded-circle mr-4"
                            style="background-color: rgb(233, 205, 207);">
                            <i class="fas fa-arrow-circle-right btn-icon__inner" style="color: rgb(171, 25, 38);"></i>
                          </span>
                          ข้อสอบ ภาค ก. ปริญญาตรี สำนักงาน ก.พ. ชุดที่ 8
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-6">
                          <div class="btnnaja">
                            <div class="custom-btn w-100">
                              เข้าสอบ
                            </div>
  
                          </div>
                        </div>
  
                        <div class="col-lg-9 col-md-6 mb-3 pl-5 p-2" style="color: rgb(84,51,30);">
                          <span class="btn btn-xs btn-icon btn-soft-primary rounded-circle mr-4"
                            style="background-color: rgb(233, 205, 207);">
                            <i class="fas fa-arrow-circle-right btn-icon__inner" style="color: rgb(171, 25, 38);"></i>
                          </span>
                          ข้อสอบ ภาค ก. ปริญญาตรี สำนักงาน ก.พ. ชุดที่ 9
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-6">
                          <div class="btnnaja">
                            <div class="custom-btn w-100">
                              เข้าสอบ
                            </div>
  
                          </div>
                        </div>
  
                        <div class="col-lg-9 col-md-6 mb-3 pl-5 p-2" style="color: rgb(84,51,30);">
                          <span class="btn btn-xs btn-icon btn-soft-primary rounded-circle mr-4"
                            style="background-color: rgb(233, 205, 207);">
                            <i class="fas fa-arrow-circle-right btn-icon__inner" style="color: rgb(171, 25, 38);"></i>
                          </span>
                          ข้อสอบ ภาค ก. ปริญญาตรี สำนักงาน ก.พ. ชุดที่ 10
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-6">
                          <div class="btnnaja">
                            <div class="custom-btn w-100">
                              เข้าสอบ
                            </div>
  
                          </div>
                        </div>
  
  
                      </div>
                    
  
  
                  </div>
  
                </div>
            </div>
            </div>
            </div>
            </div>
                
            <style>
              ul {
                  text-align: right;
              }
          </style>

          <div class="page-number mt-6 pb-1  ">
              <style>
                  ul {
                      text-align: right;
                      display: flex;
                      justify-content: flex-end;
                      list-style: none;
                  }
                  li {
                      font-size: 20px;
                  }
              </style>

              <ul class="number-page " style="margin-right: 90px;color: black;">
                  <li style="color: black;margin-right: 8px;"><<</li>
                  <li style="color: black;margin-right: 8px;">1</li>
                  <li style="color: black;margin-right: 8px;">2</li>
                  <li style="color: black;margin-right: 8px;">3</li>
                  <li style="color: black;margin-right: 8px;">4</li>
                  <li style="color: black;margin-right: 8px;">5</li>
                  <li style="color: black;margin-right: 8px;">6</li>
                  <li style="color: black;margin-right: 8px;">7</li>
                  <li style="color: black;margin-right: 8px;">8</li>
                  <li style="color: black;margin-right: 8px;">9</li>
                  <li style="color: black;margin-right: 8px;">10</li>
                  <li style="color: black;margin-right: 8px;">>></li>
              </ul>
                

              