<!DOCTYPE html>
<html lang="<%= i18n_lang %>">

<head>
  <%- include('../partials/head'); -%>
    <%- include('../partials/nav'); -%>
</head>

<body>
  <%- include('../partials/header'); -%>
    <!-- ========== MAIN CONTENT ========== -->
    <main id="content" role="main">
      <div class="bg-theme-second">
        <%- include('../partials/breadcrumb'); -%>
      </div>
      <!-- End Viwer Section -->


      <!-- Pricing Section -->

      <style>
          



        



        @media only screen and (max-width: 768px) {
          #hamburg {
            display: block;
          }

        }


        .navbar {
          display: flex;
          align-items: center;
          justify-content: space-between;
          overflow: hidden;
          padding: 10px 0;
        }

        .navbar {
          position: block;
          /* Ensure the container is positioned relatively */
        }

        .card-body {
          background-color: rgb(235, 235, 235);
        }





        .content-container {
          width: 100%;
          /* Adjust this value as needed */
          overflow-x: hidden;
          white-space: nowrap;
          border-block-start: 1px solid aliceblue;
          /* top border */
          border-inline-end: 1px dotted aliceblue;
          /* right border */
          border-block-end: 1px dashed aliceblue;
          /* bottom border */
          border-inline-start: 1px double aliceblue;
          /* left border */
        }

        .content {
          display: inline-block;
        }

        .buttonforleft {
          padding: 1px;
        }

        .buttonforright {
          padding: 1px;
        }

        button:hover {

          background-color: rgb(255, 255, 255);
        }

        button:focus {

          background-color: rgba(2, 209, 244, 255);
          border-style: none;

        }






        .prev,
        .next {
          cursor: pointer;
          position: absolute;
          top: 90%;
          width: auto;
          padding: 16px;
          margin-top: -22px;
          color: white;
          font-weight: bold;
          font-size: 18px;
          transition: 0.6s ease;
          border-radius: 0 3px 3px 0;
          user-select: none;
        }


        @media only screen and (min-width: 1024px) {
          .hamburg1 {
            display: none;
          }
        }

        @media only screen and (max-width: 1199px) {
          .storage-sob {
            display: none;
          }

          .text-ministry {
            font-size: 27px;
          }
        }

        @media only screen and (min-width: 1198px) {
          .hamburg3 {
            display: none;
          }
        }

        @media only screen and (min-width: 1198px) {
          .hamburg5 {
            display: none;
          }
        }

        @media only screen and (max-width: 600px) {
          .text-ministry {
            font-size: 16px;
          }
        }

        @media only screen and (max-width: 478px) {
          .textklung {
            font-size: 10px;
            bottom: 37px !important;
          }
        }





        .scrollmenu-container {
          display: flex;
          width: 100%;
        }

        .scrollmenu-btn-right {
          overflow-x: wrap;
        }




        .scrollmenu {
          flex: 1;
          overflow: hidden;
          position: relative;
          background-color: rgb(253, 253, 253);
          white-space: nowrap;
          box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
        }

        .scrollmenu-inner {
          display: inline-flex;
          transition: margin-left 0.3s ease-in-out;
        }

        .scrollmenu:after {
          content: '';
          width: 100%;
          height: 200%;
          top: -50%;
          left: 0;
          position: absolute;
          pointer-events: none;


        }

        .scrollmenu-container button {
          background-color: #c2c2c2;
          color: #ccc;
          border: none;
          cursor: pointer;
          padding: 0 0.5rem;
        }



        .scrollmenu a {
          color: rgb(0, 0, 0);
          text-align: center;
          padding: 1rem;
          text-decoration: none;
        }

        button {
          color: black !important;
          /* Override inline color */
          border: 1px solid black !important;
          /* Override inline border */
        }

        /* Clicked button style */
        button:active,
        button:focus {
          outline: none;
          /* Remove the focus outline */
          border-color: transparent !important;
          background-color: rgba(2, 209, 244, 255) !important;
          color: white !important;
        }

        .no-border {
          border: none !important;
          /* Remove the border */
        }
      </style>






      <!-- Pricing Section -->

      <!-- หน้าPSD 4 -->

      <div class="container mt-7 ">
        <div class="row" id="course-choose">
          <div class="col-xl-4 dnone">
            <!-- <div class="btnnaj" style="display: block;">
            <span id="hamburg" class="hamburg1"  onclick="w3_open()">☰</span>
            
          </div> -->
            <div id="mySidebar" class="storage-sob">
              <h3 class="korsob" style="color: black;"> <img src="/images/iconslearn/storage.png" style="width:20% "
                  alt="คลังข้อสอบ">คลังข้อสอบ<span id="hamburg" class="hamburg5"
                  style="position: absolute;top: 0;right: 0;margin-right: 25px;" onclick="w3_close()">X</span></h3>

              <hr class="my-12 btn-dark" />
              <!-- sidebar -->
              <div class="ministrychoose">
           
                <div class="ministrymode">
                  <h4 class="h5 font-weight-normal mb-0">
                    <a href="#" class="text-black-100"> </a>
                  </h4>
                </div>
                <hr class="my-12 btn-dark" />
              </div>
            
            </div>
          </div>
          <div class="col-xl-8 col">
            <div class="ministry-nav">
              <div class="korsobinside"><span id="hamburg3" class="hamburg3"
                  style="position: absolute; top: 0; left: 0;" onclick="handleClick()"><img
                    src="/images/iconslearn/storage.png" style="width:14%;margin-left: 10px;" alt="คลังข้อสอบ">
                  <p class="textklung"
                    style="text-align: start;position: relative;margin-left: 45px;margin-top: 5px;bottom: 45px;color: black;">
                    คลังข้อสอบ</p>
                </span></div>
                <h4 class="h4 mb-4 text-primary-theme heading-subject-text" style="text-align: center;">#<!-- {{group-subject}}--></h4>

              <hr class="my-12 btn-dark" />
              <nav class="navbar">
                <div class="scrollmenu-container">
                  <button class="scrollmenu-btn-left no-border">&lt;</button>
                  <div class="scrollmenu">
                    <div class="scrollmenu-inner">
                      <a href="#"><button class="badge badge-pill " type="button"
                          style="width:auto;height: 42px;color: rgb(0, 0, 0);font-size: 16px;background-color: white;">SSC
                          Exams</button></a>
                      <a href="#"><button class="badge badge-pill " type="button"
                          style="width:auto;height: 42px;color: rgb(0, 0, 0);font-size: 16px;background-color: white;">aBanking
                          Exams</button></a>
                      <a href="#"><button class="badge badge-pill " type="button"
                          style="width:auto;height: 42px;color: rgb(0, 0, 0);font-size: 16px;background-color: white;">Civil
                          Services
                          Exams</button></a>
                      <a href="#"><button class="badge badge-pill " type="button"
                          style="width:auto;height: 42px;color: rgb(0, 0, 0);font-size: 16px;background-color: white;">Railways
                          Exams</button></a>
                      <a href="#"><button class="badge badge-pill " type="button"
                          style="width:auto;height: 42px;color: rgb(0, 0, 0);font-size: 16px;background-color: white;">Engineering
                          Recruitment
                          Exams</button></a>
                      <a href="#"><button class="badge badge-pill " type="button"
                          style="width:auto;height: 42px;color: rgb(0, 0, 0);font-size: 16px;background-color: white;">ministry
                          Exams</button></a>
                      <a href="#"><button class="badge badge-pill " type="button"
                          style="width:auto;height: 42px;color: rgb(0, 0, 0);font-size: 16px;background-color: white;">Remington
                          Exams</button></a>
                      <a href="#"><button class="badge badge-pill " type="button"
                          style="width:auto;height: 42px;color: rgb(0, 0, 0);font-size: 16px;background-color: white;">HoneyBadger
                          Exams</button></a>
                      <a href="#"><button class="badge badge-pill " type="button"
                          style="width:auto;height: 42px;color: rgb(0, 0, 0);font-size: 16px;background-color: white;">123kaolarmhormok
                          Exams</button></a>
                      <a href="#"><button class="badge badge-pill " type="button"
                          style="width:auto;height: 42px;color: rgb(0, 0, 0);font-size: 16px;background-color: white;">456jingjokyudsai
                          Exams</button></a>
                      <a href="#"><button class="badge badge-pill " type="button"
                          style="width:auto;height: 42px;color: rgb(0, 0, 0);font-size: 16px;background-color: white;">789kaomaohoryai
                          Exams</button></a>
                      <a href="#"><button class="badge badge-pill " type="button"
                          style="width:auto;height: 42px;color: rgb(0, 0, 0);font-size: 16px;background-color: white;">10aroimod
                          Exams</button></a>
                    </div>
                  </div>
                  <button class="scrollmenu-btn-right no-border" style="color: rgb(75, 75, 75);">&gt;</button>
                </div>
              </nav>
              <hr class="my-12 btn-dark" />
              <script>
                const SLIDE_AMOUNT = 200;

                const scrollMenu = document.querySelector('.scrollmenu');
                const scrollMenuInner = scrollMenu.querySelector('.scrollmenu-inner');

                const leftBtn = document.querySelector('.scrollmenu-btn-left');
                const rightBtn = document.querySelector('.scrollmenu-btn-right');

                leftBtn.addEventListener('click', slideLeft);
                rightBtn.addEventListener('click', slideRight);

                function getOffset() {
                  const offset = parseInt(scrollMenuInner.style.marginLeft.slice(0, -2));
                  return isNaN(offset) ? 0 : offset;
                }

                function slideRight() {
                  const offset = getOffset();

                  const diff = scrollMenuInner.clientWidth + offset - scrollMenu.clientWidth
                  if (diff >= SLIDE_AMOUNT) {
                    scrollMenuInner.style.marginLeft = `${offset - SLIDE_AMOUNT}px`;
                  } else if (diff < SLIDE_AMOUNT && diff > 0) {
                    scrollMenuInner.style.marginLeft = `${offset - diff}px`;
                  }
                };

                function slideLeft() {
                  const offset = getOffset();

                  if (Math.abs(offset) >= SLIDE_AMOUNT) {
                    scrollMenuInner.style.marginLeft = `${offset + SLIDE_AMOUNT}px`;
                  } else if (Math.abs(offset) < SLIDE_AMOUNT && offset < 0) {
                    scrollMenuInner.style.marginLeft = '0px';
                  }
                }
                function handleClick() {
                  // Do something here, for example, call w3_open()
                  w3_open();

                  // Hide the clicked element
                  document.getElementById("hamburg3").style.display = "block";
                }

                // Define the w3_open() function
                function w3_open() {
                  // Define your w3_open() function logic here
                  // For example:
                  // document.getElementById("mySidenav").style.width = "250px";
                  // document.getElementById("main").style.marginLeft = "250px";
                }



              </script>


            </div>
 
              <div class="col-md-12 ">
                <div class="row" id="course-learner">
                  <div class="col-12 course-block-zero"><%= translation.zero_result %></div>
                  <div class="col-sm-12 col-md-6 col-lg-4 pb-3 course-block-detail">
                    <!-- Product -->
                    <div class="card">
                      <div class="position-relative  img-hover">
                          <picture>
                            <img src="/images/law01png" alt="#" loading="lazy" decoding="async">
                          </picture>
                      </div>
                      <div class="card-body pt-4 px-3 pb-0 bg-theme-second">
                        <div class="mb-2">
                          <a href="#">
                            <h2 class="h5 mb-0 fix-line h-65-px text-black-70 mb-1">#</h2>
                            <small class="text-secondary fix-line-50 mobile-none text-line-clamp d-none"> </small>
                            <small class="text-secondary fix-line-50 mobile-none text-line-clamp"></small>
                            <%= translation.price%> <var class="price"></var> <%= translation.baht%>
                          </a>
                        </div>
                      </div>
                      <div class="card-footer" style="background-color: rgb(235, 235, 235);">
                        <p class="m-0 pt-3">
                          <a href="#" class="btn btn-primary w-100 p-3"
                        style="background-color:rgb(80, 35, 35) ;border: none;border-radius: 5px;">รายละเอียดเพิ่มเติม</a>
                          <a href="#" class="btn btn-primary w-100 mt-3 p-3"
                        style="background-color: rgb(228, 167, 0);border: none;border-radius: 5px;">เลือกข้อสอบนี้</a>
                        </p>
                      </div>
                    </div>
                    <!-- End Product -->
                  </div>
    
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
      </div>


      
      <nav aria-label="Page navigation" class="mb-5 position-right-0">
        <ul class="pagination justify-content-end" style="margin-right: 100px;">
          <li class="page-item">
            <a class="page-link" href="#" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
              <span class="sr-only">Previous</span>
            </a>
          </li>
          <li class="page-item active"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item">
            <a class="page-link" href="#" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
              <span class="sr-only">Next</span>
            </a>
          </li>
        </ul>
      </nav>

    


        <script>
          function w3_open() {
            document.getElementById("mySidebar").style.display = "block";
          }

          function w3_close() {
            document.getElementById("mySidebar").style.display = "none";
          }
        </script>

        <!-- End Pricing Section -->

        <%- include('../partials/aside'); -%>
    </main>
    <!-- ========== END MAIN CONTENT ========== -->
    <%- include('../partials/footer'); -%>
      <%- include('../partials/script'); -%>
        <script async defer src="/javascripts/course.js"></script>
        <script>
          let course_group = <%= course_group %>;
          const registered_txt = '<%= translation.registered_txt %>';
          console.log(course_group)
        </script>
</body>

</html>