<!DOCTYPE html>
<html lang="<%= i18n_lang %>">

<head>
  <%- include('../partials/head'); -%>
    <%- include('../partials/nav'); -%>

      <style>
        @media only screen and (max-width: 768px) {
        .card {
                   
            
        } 

    }



      </style>




</head>

<body>
  <%- include('../partials/header'); -%>
    <!-- ========== MAIN CONTENT ========== -->
    <main id="content" role="main">
      <div class="bg-theme-second">
        <%- include('../partials/breadcrumb'); -%>
      </div>
      <!-- End Viwer Section -->
      <style>
        
        @media only screen and (max-width: 991px) {
        .ministry {
            display: none;
                   
            
        } 

    }


        
      </style>


      <!-- Pricing Section -->

      <!-- หน้าPSD 4 -->

      <div class="container">
        <div class="row">
          <div class="col-4 col-md-4">
            
            <h3 class="korsob " style="color: black;"> <img src="/images/iconslearn/storage.png" style="width:30% "
                alt="คลังข้อสอบ">คลังข้อสอบ</h3>

                <div class="ministry">
            <ul class="list-inline mb-0">
              <li class="list-inline-item pb-3">
                <a class="btn btn-xs btn-pill " style="font-size:20px;" href="#">สำนักงานนายกรัฐมนตรี</a>
                <ul class="list-inline mb-0">
                  <hr class="my-12 btn-dark" />
                  <li class="list-inline-item pb-3">
                    <a class="btn btn-xs  btn-pill" style="font-size:20px;" href="#">กระทรวงกลาโหม</a>
                    <ul class="list-inline mb-0">
                      <hr class="my-12 btn-dark" />
                      <li class="list-inline-item pb-3">
                        <a class="btn btn-xs  btn-pill" style="font-size:20px;" href="#">กระทรวงพลังงาน</a>
                        <ul class="list-inline mb-0">
                          <hr class="my-12 btn-dark" />
                          <li class="list-inline-item pb-3">
                            <a class="btn btn-xs  btn-pill" style="font-size:20px;" href="#">กระทรวงแรงงาน</a>
                            <ul class="list-inline mb-0">
                              <hr class="my-12 btn-dark" />
                              <li class="list-inline-item pb-3">
                                <a class="btn btn-xs  btn-pill" style="font-size:20px;" href="#">กระทรวงยุติธรรม</a>
                                <ul class="list-inline mb-0">
                                  <hr class="my-12 btn-dark" />
                                  <li class="list-inline-item pb-3">
                                    <a class="btn btn-xs  btn-pill" style="font-size:20px;"
                                      href="#">กระทรวงศึกษาธิการ</a>
                                    <ul class="list-inline mb-0">
                                      <hr class="my-12 btn-dark" />
                                      <li class="list-inline-item pb-3">
                                        <a class="btn btn-xs  btn-pill" style="font-size:20px;"
                                          href="#">กระทรวงสาธารณสุข</a>
                                        <ul class="list-inline mb-0">
                                          <hr class="my-12 btn-dark" />
                                          <li class="list-inline-item pb-3">
                                            <a class="btn btn-xs  btn-pill" style="font-size:20px;"
                                              href="#">กระทรวงอุตสาหกรรม</a>
                                            <ul class="list-inline mb-0">
                                              <hr class="my-12 btn-dark" />
                                              <li class="list-inline-item pb-3">
                                                <a class="btn btn-xs  btn-pill" style="font-size:20px;"
                                                  href="#">กระทรวงคมนาคม</a>
                                                <ul class="list-inline mb-0">
                                                  <hr class="my-12 btn-dark" />
                                                  <li class="list-inline-item pb-3">
                                                    <a class="btn btn-xs  btn-pill" style="font-size:20px;"
                                                      href="#">กระทรวงพาณิชย์</a>
                                                    <ul class="list-inline mb-0">
                                                      <hr class="my-12 btn-dark" />
                                                      <li class="list-inline-item pb-3">
                                                        <a class="btn btn-xs  btn-pill" style="font-size:20px;"
                                                          href="#">กระทรวงมหาดไทย</a>
                                                        <ul class="list-inline mb-0">
                                                          <hr class="my-12 btn-dark" />
                                                          <li class="list-inline-item pb-3">
                                                            <a class="btn btn-xs  btn-pill" style="font-size:20px;"
                                                              href="#">กระทรวงวัฒนธรรม</a>
                                                            <ul class="list-inline mb-0">
                                                              <hr class="my-12 btn-dark" />
                                                              <li class="list-inline-item pb-3">
                                                                <a class="btn btn-xs  btn-pill" style="font-size:20px;"
                                                                  href="#">กระทรวงการคลัง</a>
                                                                <ul class="list-inline mb-0">
                                                                  <hr class="my-12 btn-dark" />
                                                                  <li class="list-inline-item pb-3">
                                                                    <a class="btn btn-xs  btn-pill"
                                                                      style="font-size:20px;"
                                                                      href="#">กระทรวงการท่องเที่ยวและกีฬา</a>
                                                                    <ul class="list-inline mb-0">
                                                                      <hr class="my-12 btn-dark" />
                                                                      <li class="list-inline-item pb-3">
                                                                        <a class="btn btn-xs  btn-pill"
                                                                          style="font-size:20px;"
                                                                          href="#">กระทรวงดิจิทัลเพื่อเศรษฐกิจและสังคม</a>
                                                                        <ul class="list-inline mb-0">
                                                                          <hr class="my-12 btn-dark" />
                                                                          <li class="list-inline-item pb-3">
                                                                            <a class="btn btn-xs  btn-pill"
                                                                              style="font-size:20px;text-align: left;"
                                                                              href="#">กระทรวงพัฒนาสังคมและความมั่นคงของมนุษย์</a>
                                                                            <ul class="list-inline mb-0">
                                                                              <hr class="my-12 btn-dark" />
                                                                              <li class="list-inline-item pb-3">
                                                                                <a class="btn btn-xs  btn-pill"
                                                                                  style="font-size:20px;text-align: left;"
                                                                                  href="#">กระทรวงการอุดมศึกษาวิทยาศาสตร์วิจัยและนวัตรกรรม</a>
                                                                                <ul class="list-inline mb-0">
                                                                                  <hr class="my-12 btn-dark" />
                                                                                  <li class="list-inline-item pb-3">
                                                                                    <a class="btn btn-xs  btn-pill"
                                                                                      style="font-size:20px;"
                                                                                      href="#">กระทรวงเกษตรและสหกรณ์</a>
                                                                                    <ul class="list-inline mb-0">
                                                                                      <hr class="my-12 btn-dark" />
                                                                                      <li class="list-inline-item pb-3">
                                                                                        <a class="btn btn-xs  btn-pill"
                                                                                          style="font-size:20px;text-align: left;"
                                                                                          href="#">กระทรวงทรัยการธรรมชาติและสิ่งแวดล้อม</a>
                                                                                        <ul class="list-inline mb-0">
                                                                                          <hr class="my-12 btn-dark" />
                                                                                          <li
                                                                                            class="list-inline-item pb-3">
                                                                                            <a class="btn btn-xs  btn-pill"
                                                                                              style="font-size:20px;"
                                                                                              href="#">กระทรวงต่างประเทศ</a>
                                                                                            <ul
                                                                                              class="list-inline mb-0">
                                                                                              <hr
                                                                                                class="my-12 btn-dark" />
                                                                                              <li
                                                                                                class="list-inline-item pb-3">
                                                                                                <a class="btn btn-xs  btn-pill"
                                                                                                  style="font-size:20px;"
                                                                                                  href="#">ธนาคาร</a>
                                                                                                <ul
                                                                                                  class="list-inline mb-0">
                                                                                                  <hr
                                                                                                    class="my-12 btn-dark" />
                                                                                                  <li
                                                                                                    class="list-inline-item pb-3">
                                                                                                    <a class="btn btn-xs  btn-pill"
                                                                                                      style="font-size:20px;"
                                                                                                      href="#">รัฐวิสาหกิจ</a>
                                                                                                    <ul
                                                                                                      class="list-inline mb-0">
                                                                                                      <hr
                                                                                                        class="my-12 btn-dark" />
                                                                                                      <li
                                                                                                        class="list-inline-item pb-3">
                                                                                                        <a class="btn btn-xs  btn-pill"
                                                                                                          style="font-size:20px;text-align:left;"
                                                                                                          href="#">ส่วนราชการที่ไม่สังกัดสำนักนายกรัฐมนตรีกระทรวงหรือทบวง</a>
                                                                                                        <ul
                                                                                                          class="list-inline mb-0">
                                                                                                          <hr
                                                                                                            class="my-12 btn-dark" />
                                                                                                          <li
                                                                                                            class="list-inline-item pb-3">




                                                                                                          </li>
                                                                                                        </ul>
          </div>
        </div>


          <style>
            .navbar {
              display: flex;
              align-items: center;
              justify-content: space-between;
              overflow: hidden;
              padding: 10px 0;
            }









            .content-container {
              width: 80%;
              /* Adjust this value as needed */
              overflow-x: hidden;
              white-space: nowrap;
              border-block-start: 1px solid aliceblue;
              /* top border */
              border-inline-end: 1px dotted aliceblue;
              /* right border */
              border-block-end: 1px dashed aliceblue;
              /* bottom border */
              border-inline-start: 1px double aliceblue;
              /* left border */
            }

            .content {
              display: inline-block;
            }

            button {
              padding: 5px 10px;
              font-size: 16px;
            }

            button:hover {

              background-color: rgb(255, 255, 255);
            }

            button:focus {

              background-color: rgba(2, 209, 244, 255);
              border-style: none;

            }






            .prev,
            .next {
              cursor: pointer;
              position: absolute;
              top: 90%;
              width: auto;
              padding: 16px;
              margin-top: -22px;
              color: white;
              font-weight: bold;
              font-size: 18px;
              transition: 0.6s ease;
              border-radius: 0 3px 3px 0;
              user-select: none;
            }
          </style>
          <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8  mt-9">
            <h2 class="text-center" style="text-align: center;color:black;">
              สำนักงานนายกรัฐมนตรี
            </h2>
            <hr class="my-12 btn-dark" />
            <nav class="navbar">
              <button style="border-style: none;background: none;transform: rotate(180deg);"
                onclick="moveContent('left')">
                <img style="width: 40px;height: 50px;" src="/images/iconslearn/slide.png" alt="Left">
              </button>

              <div class="content-container">
                <!-- content here -->
                <div class="pill-box">
                  <button class="badge badge-pill " type="button"
                    style="width: 150px;height: 42px;color: rgb(0, 0, 0);font-size: 20px;">SSC
                    Exams</button>
                  <button class="badge badge-pill me-2 ml-4" type="button" style="width: 150px;height: 42px; ">aBanking
                    Exams</button>
                  <button class="badge badge-pill me-2 ml-4" type="button" style="width: 150px;height: 42px;">Civil
                    Services
                    Exam</button>
                  <button class="badge badge-pill me-2 ml-4" type="button"
                    style="width: 230px;height: 42px;color: rgb(0, 0, 0);">Engineering
                    Recruitment Exams</button>
                  <button class="badge badge-pill me-2 ml-4" type="button"
                    style="width: 230px;height: 42px;color: rgb(0, 0, 0);">Engineering
                    Recruitment Exams</button>
                  <button class="badge badge-pill me-2 ml-4" type="button"
                    style="width: 230px;height: 42px;color: rgb(0, 0, 0);">Engineering
                    Recruitment Exams</button>
                  <button class="badge badge-pill me-2 ml-4" type="button"
                    style="width: 230px;height: 42px;color: rgb(0, 0, 0);">gtxdvr
                    Recruitment Exams</button>
                  <button class="badge badge-pill me-2 ml-4" type="button"
                    style="width: 230px;height: 42px;color: rgb(0, 0, 0);">tetwwws1234Recruitment
                    Exams</button>
                  <button class="badge badge-pill me-2 ml-4" type="button"
                    style="width: 230px;height: 42px;color: rgb(0, 0, 0);">reefz1123
                    Recruitment Exams</button>
                </div>
              </div>
              <button style="border-style: none;background: none;" onclick="moveContent('right')">
                <img style="width: 40px;height: 50px;" src="/images/iconslearn/slide.png" alt="right">
              </button>



              </button>
            </nav>

            <script>
              function moveContent(direction) {
                const contentContainer = document.querySelector('.content-container');
                const scrollAmount = 200; // You can adjust this value for the scroll amount

                if (direction === 'left') {
                  contentContainer.scrollLeft -= scrollAmount;
                } else if (direction === 'right') {
                  contentContainer.scrollLeft += scrollAmount;
                }
              }
            </script>

            <hr class="my-12 btn-dark" />

            <div class="row  ">
              <div class="col-xl-4 col-lg-4 col-md-6 mt-3">
                <div class="card" style="width: 240px;">
                  <img class="card-img-top" src="/images/law01.png" alt="Card">
                  <div class="card-body bg-theme-second">
                    <p class="card-text text-black-70 ">หลักสูตร กฎหมายการ</p>
                    <p class="card-text text-black-70 ">แข่งขันการค้าพื้นฐาน</p>
                    <p class="card-text text-black-70 ">ราคา 330 บาท</p>
                    <div class="row p-2">
                      <button class="rounded "
                        style="background-color: rgb(80, 35, 35);border: none;width: 100%;height: 70px;">
                        <p style="color: rgb(255, 255, 255);font-size: 25px;margin-top: 5px;">รายละเอียดเพิ่มเติม</p>
                      </button>
                    </div>
                    <div class="row  p-2">
                      <button class="rounded mt-3"
                        style="background-color: rgb(228, 167, 0);border: none;width:  100%;height: 70px;">
                        <p style="color: rgb(0, 0, 0);text-align: center;font-size: 25px;margin-top: 5px;">
                          เลือกข้อสอบนี้&nbsp</p>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xl-4 col-lg-4 col-md-6 mt-3 ">
                <div class="card" style="width: 240px;">
                  <img class="card-img-top" src="/images/law01.png" alt="Card">
                  <div class="card-body bg-theme-second">
                    <p class="card-text text-black-70 ">หลักสูตร กฎหมายการ</p>
                    <p class="card-text text-black-70 ">แข่งขันการค้าพื้นฐาน</p>
                    <p class="card-text text-black-70 ">ราคา 330 บาท</p>
                    <div class="row p-2">
                      <button class="rounded "
                        style="background-color: rgb(80, 35, 35);border: none;width:  100%;height: 70px;">
                        <p style="color: aliceblue;font-size: 25px;margin-top: 5px;">รายละเอียดเพิ่มเติม</p>
                      </button>
                    </div>
                    <div class="row  p-2">
                      <button class="rounded mt-3"
                        style="background-color: rgb(228, 167, 0);border: none;width:  100%;height: 70px;">
                        <p style="color: rgb(0, 0, 0);text-align: center;font-size: 25px;margin-top: 5px;">
                          เลือกข้อสอบนี้&nbsp</p>
                      </button>
                    </div>


                  </div>
                </div>
              </div>
              <div class="col-xl-4 col-lg-4 col-md-4 mt-3">
                <div class="card " style="width: 240px;">
                  <img class="card-img-top rounded" src="/images/law01.png" alt="Card  ">
                  <div class="card-body bg-theme-second">
                    <p class="card-text text-black-70 ">หลักสูตร กฎหมายการ</p>
                    <p class="card-text text-black-70 ">แข่งขันการค้าพื้นฐาน</p>
                    <p class="card-text text-black-70 ">ราคา 330 บาท</p>
                    <div class="row p-2">
                      <button class="rounded "
                        style="background-color: rgb(80, 35, 35);border: none;width:  100%;height: 70px;">
                        <p style="color: rgb(255, 255, 255);font-size: 25px;margin-top: 5px;">รายละเอียดเพิ่มเติม</p>
                      </button>
                    </div>
                    <div class="row  p-2">
                      <button class="rounded mt-3"
                        style="background-color: rgb(228, 167, 0);border: none;width:  100%;height: 70px;">
                        <p style="color: rgb(0, 0, 0);text-align: center;font-size: 25px;margin-top: 5px;">
                          เลือกข้อสอบนี้&nbsp</p>
                      </button>
                    </div>

                  </div>
                </div>
              </div>

              <div class="col-xl-4 col-lg-4 col-md-6 mt-5">
                <div class="card" style="width: 240px;">
                  <img class="card-img-top" src="/images/law01.png" alt="Card  ">
                  <div class="card-body bg-theme-second">
                    <p class="card-text text-black-70 ">หลักสูตร กฎหมายการ</p>
                    <p class="card-text text-black-70 ">แข่งขันการค้าพื้นฐาน</p>
                    <p class="card-text text-black-70 ">ราคา 330 บาท</p>
                    <div class="row p-2">
                      <button class="rounded "
                        style="background-color: rgb(80, 35, 35);border: none;width:  100%;height: 70px;">
                        <p style="color: aliceblue;font-size: 25px;margin-top: 5px;">รายละเอียดเพิ่มเติม</p>
                      </button>
                    </div>
                    <div class="row  p-2">
                      <button class="rounded mt-3"
                        style="background-color: rgb(228, 167, 0);border: none;width:  100%;height: 70px;">
                        <p style="color: rgb(0, 0, 0);text-align: center;font-size: 25px;margin-top: 5px;">
                          เลือกข้อสอบนี้&nbsp</p>
                      </button>
                    </div>

                  </div>
                </div>
              </div>
              <div class="col-xl-4 col-lg-4 col-md-4 mt-5">
                <div class="card" style="width: 240px;">
                  <img class="card-img-top" src="/images/law01.png" alt="Card  ">
                  <div class="card-body bg-theme-second">
                    <p class="card-text text-black-70 ">หลักสูตร กฎหมายการ</p>
                    <p class="card-text text-black-70 ">แข่งขันการค้าพื้นฐาน</p>
                    <p class="card-text text-black-70 ">ราคา 330 บาท</p>
                    <div class="row p-2">
                      <button class="rounded "
                        style="background-color: rgb(80, 35, 35);border: none;width:  100%;height: 70px;">
                        <p style="color: aliceblue;font-size: 25px;margin-top: 5px;">รายละเอียดเพิ่มเติม</p>
                      </button>
                    </div>
                    <div class="row  p-2">
                      <button class="rounded mt-3"
                        style="background-color: rgb(228, 167, 0);border: none;width:  100%;height: 70px;">
                        <p style="color: rgb(0, 0, 0);text-align: center;font-size: 25px;margin-top: 5px;">
                          เลือกข้อสอบนี้&nbsp</p>
                      </button>
                    </div>

                  </div>
                </div>
              </div>
              <div class="col-xl-4 col-lg-4 col-md-6 mt-5">
                <div class="card " style="width: 240px;">
                  <img class="card-img-top rounded" src="/images/law01.png" alt="Card  ">
                  <div class="card-body bg-theme-second">
                    <p class="card-text text-black-70 ">หลักสูตร กฎหมายการ</p>
                    <p class="card-text text-black-70 ">แข่งขันการค้าพื้นฐาน</p>
                    <p class="card-text text-black-70 ">ราคา 330 บาท</p>
                    <div class="row p-2">
                      <button class="rounded "
                        style="background-color: rgb(80, 35, 35);border: none;width:  100%;height: 70px;">
                        <p style="color: aliceblue;font-size: 25px;margin-top: 5px;">รายละเอียดเพิ่มเติม</p>
                      </button>
                    </div>
                    <div class="row  p-2">
                      <button class="rounded mt-3"
                        style="background-color: rgb(228, 167, 0);border: none;width:  100%;height: 70px;">
                        <p style="color: rgb(0, 0, 0);text-align: center;font-size: 25px;margin-top: 5px;">
                          เลือกข้อสอบนี้&nbsp</p>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xl-4 col-lg-4 col-md-4 mt-5">
                <div class="card" style="width: 240px;">
                  <img class="card-img-top" src="/images/law01.png" alt="Card  ">
                  <div class="card-body bg-theme-second">
                    <p class="card-text text-black-70 ">หลักสูตร กฎหมายการ</p>
                    <p class="card-text text-black-70 ">แข่งขันการค้าพื้นฐาน</p>
                    <p class="card-text text-black-70 ">ราคา 330 บาท</p>
                    <div class="row p-2">
                      <button class="rounded "
                        style="background-color: rgb(80, 35, 35);border: none;width:  100%;height: 70px;">
                        <p style="color: aliceblue;font-size: 25px;margin-top: 5px;">รายละเอียดเพิ่มเติม</p>
                      </button>
                    </div>
                    <div class="row  p-2">
                      <button class="rounded mt-3"
                        style="background-color: rgb(228, 167, 0);border: none;width:  100%;height: 70px;">
                        <p style="color: rgb(0, 0, 0);text-align: center;font-size: 25px;margin-top: 5px;">
                          เลือกข้อสอบนี้&nbsp</p>
                      </button>
                    </div>

                  </div>
                </div>
              </div>
              <div class="col-xl-4 col-lg-4 col-md-6 mt-5">
                <div class="card" style="width: 240px;">
                  <img class="card-img-top" src="/images/law01.png" alt="Card  ">
                  <div class="card-body bg-theme-second">
                    <p class="card-text text-black-70 ">หลักสูตร กฎหมายการ</p>
                    <p class="card-text text-black-70 ">แข่งขันการค้าพื้นฐาน</p>
                    <p class="card-text text-black-70 ">ราคา 330 บาท</p>
                    <div class="row p-2">
                      <button class="rounded "
                        style="background-color: rgb(80, 35, 35);border: none;width:  100%;height: 70px;">
                        <p style="color: aliceblue;font-size: 25px;margin-top: 5px;">รายละเอียดเพิ่มเติม</p>
                      </button>
                    </div>
                    <div class="row  p-2">
                      <button class="rounded mt-3"
                        style="background-color: rgb(228, 167, 0);border: none;width:  100%;height: 70px;">
                        <p style="color: rgb(0, 0, 0);text-align: center;font-size: 25px;margin-top: 5px;">
                          เลือกข้อสอบนี้&nbsp</p>
                      </button>
                    </div>

                  </div>
                </div>
              </div>
              <div class="col-xl-4 col-lg-4 col-md-4 mt-5">
                <div class="card " style="width: 240px;">
                  <img class="card-img-top " src="/images/law01.png" alt="Card  ">
                  <div class="card-body bg-theme-second">
                    <p class="card-text text-black-70 ">หลักสูตร กฎหมายการ</p>
                    <p class="card-text text-black-70 ">แข่งขันการค้าพื้นฐาน</p>
                    <p class="card-text text-black-70 ">ราคา 330 บาท</p>
                    <div class="row p-2">
                      <button class="rounded "
                        style="background-color: rgb(80, 35, 35);border: none;width:  100%;height: 70px;">
                        <p style="color: aliceblue;font-size: 25px;margin-top: 5px;">รายละเอียดเพิ่มเติม</p>
                      </button>
                    </div>
                    <div class="row  p-2">
                      <button class="rounded mt-3"
                        style="background-color: rgb(228, 167, 0);border: none;width:  100%;height: 70px;">
                        <p style="color: rgb(0, 0, 0);text-align: center;font-size: 25px;margin-top: 5px;">
                          เลือกข้อสอบนี้&nbsp</p>
                      </button>
                    </div>
                  </div>
                </div>
              </div>


            </div>
            <div class="page-number pb-3 mt-5">
              <style>
                h1 {
                  text-align: right;
                  display: flex;
                  justify-content: flex-end;
                  list-style: none;

                }
              </style>

              <h1 class="number-page" style="margin-right: 20px;font-size: 1.5vw ;">
                  <p style="color: black;margin-right: 10px;"><<</p>
                    <p style="color: black;margin-right: 10px;">1</p>
                    <p style="color: black;margin-right: 10px;">2</p>
                    <p style="color: black;margin-right: 10px;">3</p>
                    <p style="color: black;margin-right: 10px;">4</p>
                    <p style="color: black;margin-right: 10px;">5</p>
                    <p style="color: black;margin-right: 10px;">6</p>
                    <p style="color: black;margin-right: 10px;">7</p>
                    <p style="color: black;margin-right: 10px;">8</p>
                    <p style="color: black;margin-right: 10px;">9</p>
                    <p style="color: black;margin-right: 10px;">10</p>
                    <p style="color: black;margin-right: 10px;">>></p>
              </h1>
            </div>



          </div>


        </div>


        <!-- End Pricing Section -->


        <%- include('../partials/aside'); -%>
    </main>
    <!-- ========== END MAIN CONTENT ========== -->
    <%- include('../partials/footer'); -%> <%- include('../partials/script'); -%>
        <script async defer src="/javascripts/course.js"></script>
</body>

</html>