<!DOCTYPE html>
<html lang="<%= i18n_lang %>">

<head>
  <%- include('../partials/head'); -%> <%- include('../partials/nav'); -%>
</head>

<body>
  <%- include('../partials/header'); -%>
  <!-- ========== MAIN CONTENT ========== -->
  <main id="content" role="main">
    <div class="bg-theme-second">
      <%- include('../partials/breadcrumb'); -%>
    </div>
    <!-- End Viwer Section -->
    <div class="container space-bottom-xs-1 mt-4 py-2 px-sm-0">
      <div class="row">
        <h4 class="card-header">
          ข้อตกลงและเงื่อนไขการใช้งานแพลตฟอร์ม ลองสอบดิ
        </h4>
        <div>

          <div class="pdpa-condition text-black-50">
            <ul class="list-group">
              <li class="list-group-item">
                <b>1. บทนำ</b>
              </li>
              <li class="list-group-item">
                1.1. ยินดีต้อนรับสู่แพลตฟอร์ม ลองสอบดิซึ่งรวมถึงเว็บไซต์ (“เว็บไซต์”) (ถ้ามี) ซึ่งให้บริการโดย
                บริษัทกรุณาอ่านข้อตกลงและเงื่อนไขการใช้งานต่างๆเหล่านี้
                รวมถึงเงื่อนไขเพิ่มเติมใดๆที่อ้างถึงในที่นี่และ/หรือมีลิงก์ไว้ในที่นี้ (“เงื่อนไขการใช้งาน”)
                อย่างละเอียดและครบถ้วน ในการใช้บริการและการเข้าถึงแพลตฟอร์มและหน้าจอใดๆของแพลตฟอร์ม
                หมายถึงท่านยอมรับและยินยอมที่จะผูกพันตามเงื่อนไขการใช้งานนี้อย่างเพิกถอนไม่ได้
                ท่านจะไม่ทำการใดๆอันเป็นสิ่งผิดกฎหมาย
                หรือขัดต่อความสงบเรียบร้อยหรือศีลธรรมอันดีของประชาชนผ่านแพลตฟอร์มโดยเด็ดขาด
                และท่านยอมรับการใช้ดุลพินิจของบริษัทฯให้ถือเป็นข้อยุติ ทั้งนี้หากท่านไม่ตกลงตามเงื่อนไขการใช้งานนี้
                ท่านต้องหยุดการเข้าถึงแพลตฟอร์มในขณะนี้
              </li>

              <li class="list-group-item">
                1.2. แพลตฟอร์มนี้ให้บริการเฉพาะผู้ที่บรรลุนิติภาวะแล้วเท่านั้น หากท่านยังไม่บรรลุนิติภาวะ
                ท่านต้องหยุดการเข้าถึงแพลตฟอร์มในขณะนี้
                การใช้บริการแพลตฟอร์มเป็นการแสดงเจตนายืนยันว่าท่านบรรลุนิติภาวะแล้ว
                และมีคุณสมบัติครบถ้วนที่จะทำการยอมรับเงื่อนไขการใช้งาน
                อย่างไรก็ตามหากบริษัทฯพบว่าท่านมีคุณสมบัติไม่ครบถ้วนตามที่บริษัทฯกำหนด บริษัทฯ
                มีสิทธิ์ที่จะระงับการใช้งานบัญชีผู้ใช้ของท่าน
              </li>
              <li class="list-group-item">
                1.3. เงื่อนไขการใช้งานนี้เป็นสัญญาระหว่าง บริษัทฯ ในฐานะผู้ให้บริการแพลตฟอร์ม กับ ท่าน
                ในฐานะผู้ใช้บริการแพลตฟอร์ม (“ท่าน” หรือ “ผู้ใช้งาน”) ท่านตกลงว่าความสัมพันธ์ระหว่างท่านกับบริษัทฯ
                อันเป็นผลมาจากการทำสัญญานี้ หรือจากการใช้งานแพลตฟอร์ม ไม่ถือเป็นการเป็นหุ้นส่วน การลงทุนร่วม
                หรือความสัมพันธ์ระหว่างตัวการกับตัวแทน ระหว่างท่านและ บริษัทฯ
                และไม่มีสิ่งใดอนุญาตให้ท่านสร้างภาระค่าใช้จ่ายหรือหนี้สินในนามของบริษัทฯ
              </li>
              <li class="list-group-item">
                1.4. บริษัทฯขอสงวนสิทธิที่จะแก้ไขหรือเปลี่ยนแปลงเงื่อนไขการใช้งานโดยไม่ต้องแจ้งให้ท่านทราบ
                ท่านมีหน้าที่ที่จะต้องคอยตรวจสอบเงื่อนไขการใช้งาน
                รวมทั้งเงื่อนไขเพิ่มเติมใดๆที่ระบุอยู่ในแพลตฟอร์มอย่างสม่ำเสมอ
                การใช้แพลตฟอร์มของท่านอย่างต่อเนื่องย่อมก่อให้เกิดการตกลงและสัญญาตามเงื่อนไขการใช้งานใดๆที่ได้ถูกแก้ไขหรือเปลี่ยนแปลงดังกล่าวทั้งหมดด้วย
              </li>
              <li class="list-group-item">
                <b>2. บริการของแพลตฟอร์ม</b>
              </li>
              <li class="list-group-item">
                2.1. บริษัทฯให้บริการพื้นที่ออนไลน์ผ่านแพลตฟอร์มเพื่อการโฆษณาประชาสัมพันธ์บริการการทดลองสอบ ข้อสอบ
                สื่อการเรียนการสอนของบริษัทและผู้สอน ในหน่วยการเรียนรู้และการสอบต่างๆ </li>
              <li class="list-group-item">
                2.2. บริษัทฯสงวนสิทธิ์ในการตัดสินว่าผู้ใช้งานท่านใดจะได้รับอนุญาตให้เข้าถึงซึ่งบริการใดๆ
                และบริษัทฯอาจจะทำการปรับปรุง แก้ไข ระงับ หยุดการให้บริการ
                หรือถอดออกไม่ว่าทั้งหมดหรือบางส่วนของบริการใดๆในบางช่วงเวลา โดยไม่จำต้องให้เหตุผลหรือคำบอกกล่าวล่วงหน้า
                หรืออาจจะมีกรบอกกล่าวล่วงหน้าได้ ตามแต่สถานะการณ์ที่เกิดขึ้น และบริษัทฯไม่ต้องรับผิดชอบใดๆ
                หากการปรับปรุง แก้ไข ระงับ หยุด
                หรือถอดออกดังกล่าวจะทำให้ท่านไม่สามารถเข้าใช้แพลตฟอร์มหรือส่วนหนึ่งส่วนใดของแพลตฟอร์มได้
              </li>
              <li class="list-group-item">
                <b>3. สัญญาให้บริการแพลตฟอร์ม ลองสอบดิ ระหว่างบริษัท ผู้สอน ผู้เรียนและผู้สอบ</b>
              </li>

              <li class="list-group-item">
                3.1. สัญญาให้บริการแพลตฟอร์ม ลองสอบดิ เป็นสัญญาโดยตรงระหว่างผู้สอนและผู้เรียน
                บริษัทฯไม่ได้เป็นคู่สัญญาของสัญญาฉบับนั้นหรือสัญญาอื่นใดระหว่างผู้สอนและผู้เรียน
                บริษัทฯจะไม่ยอมรับข้อผูกพันใดๆที่เกี่ยวเนื่องกับสัญญาดังกล่าว
                คู่สัญญาของธุรกรรมดังกล่าวจะรับผิดชอบต่อสัญญาระหว่างคู่สัญญาทั้งหมด
                บริษัทฯไม่มีส่วนเกี่ยวข้องในธุรกรรมระหว่างผู้สอน ผู้เรียนและผู้สอบ บริษัทฯไม่รับประกันในผลของงานใดๆ
                ของผู้สอน
              </li>

              <li class="list-group-item">
                3.2. บริษัทฯแนะนำให้ผู้เรียนต้องใช้ความระมัดระวังรอบคอบในการตรวจสอบความมีตัวตน ความน่าเชื่อถือ
                และความรู้ความสามารถของคู่สัญญา
              </li>

              <li class="list-group-item">
                <b>4. สิทธิ์การใช้งานแบบจำกัดและทรัพย์สินทางปัญญา</b>
              </li>

              <li class="list-group-item">4.1.
                บริษัทฯมอบสิทธิ์การใช้งานแบบจำกัดและเพิกถอนได้ในการเข้าถึงและใช้บริการแพลตฟอร์มตามเงื่อนไขการใช้งานนี้
              </li>
              <li class="list-group-item">4.2. เนื้อหา เครื่องหมายการค้า เครื่องหมายบริการ โลโก้
                และทรัพย์สินทางปัญญาอื่นๆที่มีกรรมสิทธิ์ทั้งหมดที่แสดงในแพลตฟอร์ม (“ทรัพย์สินทางปัญญา”)
                ไม่ว่าจะจดทะเบียนหรือไม่จดทะเบียน
                เป็นทรัพย์สินของบริษัทฯและหากเหมาะสมเป็นทรัพย์สินของบุคคลภายนอกที่ถือกรรมสิทธิ์ตามที่ระบุไว้ในแพลตฟอร์ม
                แพลตฟอร์มไม่มีการมอบสิทธิหรือสิทธิการใช้งานทั้งโดยตรงหรือโดยอ้อมแก่บุคคลใดที่เข้าถึงแพลตฟอร์มเพื่อใช้งานหรือลอกเลียนแบบทรัพย์สินทางปัญญาใด
                และไม่มีบุคคลใดที่เข้าถึงแพลตฟอร์มจะสามารถอ้างสิทธิ กรรมสิทธิ์
                หรือผลประโยชน์ในแพลตฟอร์มนี้ได้โดยการใช้หรือเข้าถึงบริการ</li>
              <li class="list-group-item">4.3. ท่านตกลงที่จะปฏิบัติตามกฎหมายทรัพย์สินทางปัญญา
                และกฎหมายที่บังคับใช้อื่นๆทั้งหมดที่คุ้มครองบริการแพลตฟอร์มและเนื้อหาในแพลตฟอร์ม ท่านตกลงที่จะไม่คัดลอก
                แจกจ่าย เผยแพร่ต่อ ส่งต่อ แสดงแก่สาธารณะ ดำเนินการต่อสาธารณะ ดัดแปลง ปรับเปลี่ยน ให้เช่า ขาย
                หรือสร้างงานต่อเนื่องจากส่วนหนึ่งส่วนใดของแพลตฟอร์ม และเนื้อหาและบริการในแพลตฟอร์ม
                โดยไม่ได้รับคำยินยอมเป็นลายลักษณ์อักษรล่วงหน้าจากบริษัทฯ
                (คำยินยอมดังกล่าวจะถือว่ามอบให้สำหรับเทคโนโลยีเครื่องมือค้นหามาตรฐานที่ใช้โดยแพลตฟอร์มค้นหาทางอินเทอร์เน็ตเพื่อนำผู้ใช้อินเทอร์เน็ตมายังแพลตฟอร์มนี้)
              </li>
              <li class="list-group-item">
                <b>5. การเก็บรวบรวม ใช้ และเปิดเผยข้อมูลส่วนบุคคล</b>
              </li>
              <li class="list-group-item">5.1.
                ท่านตกลงและยอมรับว่าข้อมูลส่วนบุคคลของท่านทั้งหมดที่บริษัทฯรวบรวมได้จะถูกเก็บรวบรวม ถูกใช้
                และ/หรือถูกเปิดเผยต่อบุคคลและเพื่อวัตถุประสงค์ตามที่ระบุอยู่ในนโยบายการคุ้มครองข้อมูลส่วนบุคคลของแพลตฟอร์ม
              </li>
              <li class="list-group-item">5.2. ท่านยินยอมและอนุญาตในการที่บริษัทฯใช้ข้อมูลใดๆที่ท่านให้ไว้
                (รวมทั้งข้อมูลส่วนบุคคล) เพื่อประโยชน์ในการส่งอีเมล์ข้อมูลรายละเอียดหรือการส่งเสริมการขายให้แก่ท่าน
                ท่านสามารถยกเลิกรับอีเมล์ส่งเสริมการขายในภายหลังได้ด้วยการคลิกที่ลิงค์ที่แนบไว้กับอีเมล์ส่งเสริมการขายใดๆ
              </li>
              <li class="list-group-item">
                <b>6. บัญชีผู้ใช้งานและความปลอดภัย</b>
              </li>
              <li class="list-group-item">6.1.
                การใช้บริการบางอย่างของแพลตฟอร์มอาจจำเป็นต้องมีการลงทะเบียนสร้างบัญชีผู้ใช้งาน โดยการกำหนดชื่อผู้ใช้งาน
                (username) ที่ไม่ซ้ำกันและรหัสผ่าน และการให้ข้อมูลบางอย่างของท่าน
                ท่านยืนยันว่าข้อมูลต่างๆที่ใช้ในการสร้างบัญชีผู้ใช้งานเป็นข้อมูลที่ถูกต้องแท้จริงของท่านเอง
                ท่านต้องไม่สร้างบัญชีผู้ใช้งานมากกว่า 1 บัญชี ท่านต้องไม่แกล้งทำเป็นบุคคลใดนอกเหนือจากตัวท่านเอง
                ท่านต้องไม่ทำให้บริษัทฯหรือบุคคลภายนอกเข้าใจผิดในเรื่องต้นกำเนิดของการส่งข้อมูลใดๆ
                และท่านตกลงและยอมรับว่าสิทธิการเป็นเจ้าของในข้อมูลของบัญชีผู้ใช้งานเป็นของบริษัทฯและของท่านร่วมกัน</li>
              <li class="list-group-item">6.2. บริษัทฯห้ามไม่ให้ท่านใช้บัญชีผู้ใช้งานของบุคคลอื่นโดยไม่ได้รับอนุญาต
                ท่านจะต้องรักษารหัสของบัญชีผู้ใช้งานของท่านไว้อย่างปลอดภัย
                ท่านจะไม่เปิดเผยข้อมูลของบัญชีผู้ใช้งานต่อบุคคลภายนอกไม่ว่าทั้งหมดหรือบางส่วน
                และจะไม่ยินยอมให้บุคคลภายนอกสามารถเข้าถึงหรือใช้ข้อมูลบัญชีผู้ใช้ของท่าน
                ท่านจะต้องรับผิดชอบแต่เพียงผู้เดียวสำหรับกิจกรรมใดๆที่เกิดขึ้นในและ/หรือจากบัญชีผู้ใช้งานของท่าน
                โดยท่านจะต้องรับผิดต่อความสูญเสียหรือเสียหายที่บริษัทฯหรือบุคคลภายนอกอื่นได้รับเนื่องจากการเข้าถึงบัญชีผู้ใช้งานและ/หรือการทำกิจกรรมใดๆผ่านบัญชีผู้ใช้งานของท่าน
              </li>
              <li class="list-group-item">6.3. ท่านตกลงที่จะเปลี่ยนรหัสผ่านของท่านเป็นครั้งคราว
                บริษัทฯอาจจะร้องขอให้ท่านอัพเดทข้อมูลของท่าน
                หรือยกเลิกชื่อผู้ใช้งานและ/หรือรหัสผ่านทันทีในเวลาใดๆโดยดุลพินิจแต่ฝ่ายเดียวของบริษัทฯ
                โดยไม่ต้องให้เหตุผลหรือคำบอกกล่าวล่วงหน้า
                และบริษัทฯไม่ต้องรับผิดหรือรับผิดชอบในความสูญเสียใดๆที่ท่านได้รับจากคำขอหรือการยกเลิกดังกล่าว</li>

              <li class="list-group-item">
                <b>7. ลิงก์ของบุคคลภายนอก</b>
              </li>
              <li class="list-group-item">7.1. แพลตฟอร์มอาจมีลิงก์ไปยังเว็บไซต์ แพลตฟอร์ม เครือข่าย
                หรือสื่ออื่นใดของบุคคลภายนอก (“ลิงก์ของบุคคลภายนอก”)
                ลิงก์ของบุคคลภายนอกเหล่านี้ไม่ได้เป็นของหรือควบคุมโดยบริษัทฯ
                แต่ดำเนินการโดยและเป็นทรัพย์สินของบุคคลภายนอก บริษัทฯไม่ได้ตรวจสอบและไม่รับผิดชอบต่อเนื้อหา
                ฟังก์ชั่นการทำงาน ความปลอดภัย บริการ นโยบายการคุ้มครองข้อมูลส่วนบุคคล หรือการปฏิบัติอื่นๆ
                ของลิงก์ของบุคคลภายนอกเหล่านี้
                บริษัทฯขอแนะนำให้ท่านอ่านข้อกำหนดและนโยบายใดๆที่เผยแพร่โดยบุคคลภายนอกดังกล่าว
                อีกทั้งท่านรับทราบและตกลงว่าบริษัทฯจะไม่รับผิดชอบในลักษณะใดก็ตามอันเนื่องมาจากการใช้งานหรือการไม่สามารถใช้งานลิงก์ของบุคคลภายนอก
              </li>
              <li class="list-group-item">7.2.
                ท่านรับทราบและตกลงว่าบริษัทฯสงวนสิทธิ์ในการลบลิงก์ของบุคคลภายนอกโดยไม่ต้องให้เหตุผลหรือคำบอกกล่าวล่วงหน้า
                และบริษัทฯไม่ต้องรับผิดชอบในความสูญเสียใดๆจากการลบลิงก์ของบุคคลภายนอกดังกล่าว</li>
              <li class="list-group-item"><b>8. เนื้อหาที่สร้างโดยผู้ใช้งาน/ผู้สอน</b></li>
              <li class="list-group-item">8.1. บริษัทฯอนุญาตให้ผู้ใช้งานหรือผู้สอนสามารถสร้างและอัพโหลดเนื้อหาต่างๆ (“เนื้อหาที่สร้างโดยผู้ใช้งาน”) ขึ้นมาบนแพลตฟอร์มได้ (“ผู้สร้างเนื้อหา”) ในรูปแบบของประกาศโฆษณา บทความ และข้อคิดเห็นทั่วไป โดยเนื้อหาที่สร้างโดยผู้ใช้งานจะเผยแพร่บนแพลตฟอร์มและเปิดให้ผู้ใช้งานทั่วไปเข้าถึงได้</li>
              <li class="list-group-item">8.2. ผู้สร้างเนื้อหาหรือผู้สอนเป็นผู้รับผิดชอบแต่เพียงผู้เดียวต่อความถูกต้อง ความน่าเชื่อถือ ลักษณะ การปลอดจากสิทธิ์ การตรงตามกฎหมาย มาตรฐานทางวิชาชีพ ลิขสิทธิ์ และข้อจำกัดทางกฎหมายที่เกี่ยวข้องกับเนื้อหาที่ตนสร้าง อัพโหลด หรือทำให้อยู่บนแพลตฟอร์มด้วยวิธีการอื่นใดทั้งหมด อาทิเช่นแต่ไม่จำกัดเพียง ข้อมูล ข้อความ เนื้อหา รูปภาพ ภาพถ่าย กราฟิก เพลง เสียง และแท็ก เป็นต้น อีกทั้งผู้สร้างเนื้อหาหรือผู้สอนต้องปฏิบัติตามเงื่อนไข ในหัวข้อ “เนื้อหาที่ท่านส่งมา” อย่างเคร่งครัด</li>
              <li class="list-group-item">8.3. ท่านรับทราบและเข้าใจว่าแพลตฟอร์มเป็นเพียงช่องทางให้ผู้สร้างเนื้อหาหรือผู้สอนเผยแพร่เนื้อหาที่สร้างโดยผู้ใช้งานหรือผู้สอนเท่านั้น ท่านตกลงว่าท่านได้เข้าถึงเนื้อหาที่สร้างโดยผู้ใช้งานหรือผู้สอนภายใต้ความเสี่ยงของท่านเอง การตัดสินใจใดๆของท่านในการเข้าถึงเนื้อหาที่สร้างโดยผู้ใช้งานหรือผู้สอน หรืออันเป็นผลมาจากการเข้าถึงเนื้อหาที่สร้างโดยผู้ใช้งานหรือผู้สอน เป็นข้อผูกพันระหว่างท่านและผู้สร้างเนื้อหาหรือผู้สอนทั้งหมด ซึ่งท่านต้องรับผิดชอบแต่เพียงผู้เดียว บริษัทฯไม่มีส่วนเกี่ยวข้องด้วยแต่อย่างใด</li>
              <li class="list-group-item">8.4. บริษัทฯจะไม่รับผิดชอบต่อ และจะไม่เฝ้าติดตามหรือตรวจสอบถึงความถูกต้อง ความน่าเชื่อถือ ลักษณะ การปลอดจากสิทธิ์ การตรงตามกฎหมาย มาตรฐานทางวิชาชีพ ลิขสิทธิ์ และข้อจำกัดทางกฎหมายที่เกี่ยวข้องกับเนื้อหาที่สร้างโดยผู้ใช้งานหรือผู้สอน ท่านจะไม่กำหนดให้บริษัทฯต้องรับผิดชอบต่อการดำเนินการหรือไม่ดำเนินการใดๆของผู้ใช้งานหรือผู้สอน</li>
              <li class="list-group-item"><b>9. เนื้อหาที่ท่านส่งมา</b></li>
              <li class="list-group-item">9.1. หากท่านเป็นผู้สร้างเนื้อหาหรือผู้สอน ท่านยืนยันและรับรองว่าท่านเป็นเจ้าของ หรือได้รับสิทธิ ความยินยอม และการอนุญาตที่จำเป็นในการเผยแพร่ซึ่งเนื้อหาที่สร้างโดยผู้ใช้งานที่ท่านสร้าง อัพโหลด หรือทำให้อยู่บนแพลตฟอร์มด้วยวิธีการอื่นใดทั้งหมด (“เนื้อหาที่ท่านส่งมา”) บริษัทฯไม่อนุญาตให้มีกิจกรรมที่เป็นการละเมิดสิทธิทางทรัพย์สินทางปัญญาใดๆบนแพลตฟอร์ม บริษัทฯสงวนสิทธิ์ในการลบเนื้อหาใดๆหากมีการแจ้งอย่างถูกต้องว่าเนื้อหาดังกล่าวละเมิดสิทธิทางทรัพย์สินทางปัญญาของผู้อื่นตามกฎหมายที่เกี่ยวข้องกับสิทธิทางทรัพย์สินทางปัญญา</li>
              <li class="list-group-item">9.2. เนื้อหาที่ท่านส่งมาจะต้องไม่เป็น “เนื้อหาที่ต้องห้าม” ดังต่อไปนี้</li>
              <li class="list-group-item">
                <ol>
                  <li>ห้ามเนื้อหาที่เป็นเท็จ ไม่ถูกต้อง หลอกลวง ฉ้อฉล สร้างความหลงผิด สร้างความเข้าใจผิด หรือชี้นำไปในทางที่ผิด</li>
                  <li>ห้ามเนื้อหาที่ผิดกฎหมาย ผิดกฎระเบียบและ/หรือข้อบังคับ ผิดมาตรฐานทางวิชาชีพบัญชี ผิดจรรยาบรรณ หยาบคาย หมิ่นประมาท ทำให้เสื่อมเสีย หรือขัดต่อความสงบเรียบร้อยหรือศีลธรรมอันดี</li>
                  <li>ห้ามเนื้อหาที่มีความรุนแรง เช่น เนื้อหาดูหมิ่น เนื้อหาที่เกี่ยวข้องกับการใช้ความรุนแรง โหดร้าย การเปลือยกาย เพศสัมพันธ์ วิปริตทางเพศ ศิลปะลามก การลดคุณค่าทางเพศ การชักชวนค้าประเวณี ภาษาที่รุนแรง การกล่าวถึงโดยหยาบคายหรือถ้อยคำรังเกียจ หรือเนื้อหาใดที่ไม่เหมาะสม อนาจาร ไม่ถูกต้องหรือมีลักษณะที่รุนแรง โดยไม่คำนึงว่ามีเจตนาที่มุ่งร้ายหรือมีเจตนาที่จะก่อความรำคาญ ทำร้าย ข่มขู่หรือรบกวนบุคคลใด</li>
                  <li>ห้ามเนื้อหาที่เกี่ยวข้องกับการเมือง มีความรุนแรง โค่นล้มหรือปลุกระดม เช่น เนื้อหาที่กระตุ้นหรือสนับสนุนความขัดแย้งต่อประเทศหรือรัฐใด หรือ รัฐธรรมนูญ รัฐบาลหรือกฎหมายของประเทศนั้น หรือกระตุ้นหรือสนับสนุนความขัดแย้งระหว่างกลุ่ม เชื้อชาติ ชาติพันธุ์ ศาสนาหรือเพศหรือการทำให้ศาสนาหรือความเชื่อทางวัฒนธรรมเสื่อมเสีย</li>
                  <li>ห้ามเนื้อหาที่เป็นการสนับสนุนการก่อการร้ายหรือกิจกรรมที่เกี่ยวข้องกับการก่อการร้าย</li>
                  <li>ห้ามเนื้อหาที่เกี่ยวข้องกับการพนันและยาเสพติด</li>
                  <li>ห้ามเนื้อหาซึ่งไม่เหมาะสมสำหรับผู้ใช้ที่มีอายุ 20 ปีหรือต่ำกว่า</li>
                  <li>ห้ามเนื้อหาที่เกี่ยวข้องหรือสนับสนุนเนื้อหาที่ต้องห้ามหรือถูกสั่งห้ามตามกฎหมายใด ๆ</li>
                  <li>ห้ามเนื้อหาที่เกี่ยวข้องกับการแสดงตัว เลียนแบบ หรือปลอมแปลงเป็นบุคคลอื่นใด หรือแสดงข้อมูลเท็จเกี่ยวกับการเชื่อมโยงกับบุคคลอื่น</li>
                  <li>หน้าเนื้อหาที่มีไวรัสซอฟต์แวร์ หนอน ม้าโทรจัน หรือรหัสคอมพิวเตอร์ รูทีน ไฟล์หรือโปรแกรมที่ออกแบบมาเพื่อแทรกแซงทั้งโดยตรงและโดยอ้อมต่อ ปรับเปลี่ยน ขัดขวางทำลาย หรือจำกัดฟังก์ชั่นการทำงานของซอฟต์แวร์คอมพิวเตอร์หรือฮาร์ดแวร์ใดๆ หรือข้อมูลหรืออุปกรณ์โทรคมนาคม ใช้งานได้</li>
                </ol>
              </li>
              <li class="list-group-item">9.3. ผู้สร้างเนื้อหามีสิทธิความเป็นเจ้าของของท่านทั้งหมดในเนื้อหาที่ท่านส่งมา อย่างไรก็ตาม ผู้สร้างเนื้อหาตกลงว่าท่านอนุญาตให้บริษัทฯได้สิทธิในการใช้ ทำซ้ำ ดัดแปลง เผยแพร่ แจกจ่าย แสดงแก่สาธารณะ ดำเนินการต่อสาธารณะ สร้างสรรค์งานต่อเนื่อง และ/หรือดำเนินการที่เกี่ยวกับบริการและธุรกิจของบริษัทฯ ไม่ว่าในรูปแบบสื่อใด ไม่ว่าผ่านช่องทางสื่อใด และไม่ว่าบางส่วนหรือทั้งหมด ทั้งนี้ สิทธิดังกล่าวใช้บังคับได้ตลอดกาล ทั่วโลก เพิกถอนไม่ได้ ไม่ผูกขาด ไม่มีค่าใช้จ่าย และสามารถทำการอนุญาตช่วงและโอนการอนุญาตต่อได้</li>
              <li class="list-group-item">9.4. ผู้สร้างเนื้อหารับทราบและตกลงว่าเนื้อหาที่ท่านส่งมาไม่ถือว่าเป็นความลับโดยบริษัทฯ และจะถูกเผยแพร่หรือใช้โดยบริษัทฯ โดยปราศจากการชดเชยหรือการรับผิดต่อท่าน ไม่ว่าด้วยจุดประสงค์ใดก็ตาม ท่านอนุญาตให้ผู้ใช้งานแต่ละรายของแพลตฟอร์มเข้าถึงเนื้อหาที่ท่านส่งมาผ่านแพลตฟอร์ม อย่างไรก็ตามข้อกำหนดนี้ไม่ใช้บังคับกับข้อมูลส่วนบุคคลที่ต้องอยู่ภายใต้นโยบายการคุ้มครองข้อมูลส่วนบุคคลของแพลตฟอร์ม เว้นแต่ในกรณีที่ท่านเองเป็นผู้เปิดเผยและ/หรือทำให้ข้อมูลส่วนบุคคลของท่านใช้งานได้ เข้าถึงได้ และ/หรือแสดงแก่สาธารณะบนแพลตฟอร์ม</li>
              <li class="list-group-item">9.5. การอนุญาต ยินยอม ยืนยันของท่านข้างต้นนั้นเป็นการถาวรและไม่สามารถเพิกถอนได้</li>
              <li class="list-group-item">9.6. บริษัทฯไม่รับรองหรือมีหน้าที่ใดๆต่อเนื้อหาที่ท่านส่งมา หรือต่อการใช้บริการโดยผู้ใช้งานคนใด หรือต่อความเห็น ข้อแนะนำ หรือข้อคิดเห็นใดที่แสดงอยู่บนแพลตฟอร์ม บริษัทฯปฎิเสธอย่างชัดแจ้งซึ่งความรับผิดทั้งหมดที่เกี่ยวข้องกับเนื้อหาที่ท่านส่งมาและเนื้อหาที่สร้างโดยผู้ใช้งานทั้งหมด</li>
              <li class="list-group-item">9.7. บริษัทฯสงวนสิทธิ์ในการลบเนื้อหาใดๆ หรือระงับไม่ให้บุคคลใดๆเข้าถึงเนื้อหาใดๆ โดยไม่แจ้งท่านล่วงหน้าหรือไม่ให้เหตุผลใด และท่านตกลงว่าบริษัทฯจะไม่ต้องรับผิดสำหรับความสูญเสียหรือความเสียหายที่เกิดขึ้นไม่ว่าโดยทางใดที่เป็นผลมาจากการดำเนินการตามดุลพินิจของบริษัทฯในการลบเนื้อหาใด</li>
              <li class="list-group-item"><b>10. เงื่อนไขการลงประกาศ</b></li>
              <li class="list-group-item">10.1. “ประกาศ” คือพื้นที่บนแพลตฟอร์มซึ่งบริษัทฯได้จัดให้มีขึ้น เพื่อให้ผู้ใช้ระบบหรือผู้สอน ได้ใช้เพื่อโฆษณาประชาสัมพันธ์บริการสอนหรือโชว์ผลงาน</li>
              <li class="list-group-item">10.2. ผู้ลงประกาศต้องปฏิบัติตามเงื่อนไขการลงประกาศดังต่อไปนี้โดยเคร่งครัด</li>
              <li class="list-group-item">
                <ol>
                  <li>เฉพาะผู้ใช้งานหรือผู้สอนที่มีบัญชีผู้ใช้งาน (“สมาชิก”) เท่านั้นจึงจะสามารถลงประกาศได้</li>
                  <li>ผู้ลงประกาศต้องไม่ใช้ข้อมูลที่เป็นเท็จ หลอกลวง ฉ้อฉล คลุมเครือ สร้างหรืออาจก่อให้เกิดความเสียหายให้แก่บุคคลอื่น ในการลงประกาศบริการบัญชีของตน</li>
                  <li>ในการลงประกาศ ผู้ลงประกาศจะต้องเลือกประเภทประกาศให้ถูกต้อง โดยเนื้อหาในประกาศจะต้องตรงกับประเภทประกาศที่เลือกเท่านั้น และผู้ลงประกาศจะต้องกรอกข้อมูลในแบบฟอร์มการลงประกาศให้สอดคล้องกับหัวข้อที่กำหนดไว้ในแบบฟอร์มการลงประกาศเท่านั้น เพื่อไม่รบกวนสิทธิของสมาชิกท่านอื่น หากบริษัทฯพบว่าสมาชิกท่านใดลงประกาศด้วยคอร์สหรือโปรแกรมซ้ำเดิม บริษัทฯสงวนสิทธิในการลบประกาศ และ/หรือระงับการใช้งานบัญชีผู้ใช้งานของสมาชิกท่านนั้น โดยไม่ต้องแจ้งล่วงหน้าแต่อย่างใด</li>
                </ol>
              </li>
              <li class="list-group-item">10.3. ข้อห้ามในการลงประกาศ</li>
              <li class="list-group-item">
                <ol>
                  <li>ห้ามลงประกาศด้วยบริการหรือข้อมูลใดที่ไม่ใช่บริการการเรียนการสอน คอนเทนต์ ที่ผู้ใช้ระบบทำสัญญากับ เจ้าของงาน</li>
                  <li>ห้ามลงประกาศด้วยเนื้อหาในประกาศที่ไม่สอดคล้องกับประเภทประกาศที่เลือก</li>
                  <li>ห้ามลงประกาศด้วยบริการเดิมซ้ำมากกว่า 1 ประกาศ</li>
                  <li>ห้ามใช้บัญชีผู้ใช้งานหลายบัญชีในการลงประกาศบริการเดียวกัน</li>
                  <li>ห้ามนำเข้า เสนอข้อมูล เผยแพร่ข้อมูล หรือกระทำการใดบนเว็บไซต์ซึ่งจะเป็นการผิดกฎหมาย ผิดศีลธรรมและวัฒนธรรมอันดี ก่อให้เกิดความขัดแย้ง ก่อให้เกิดความสูญเสียหรือเสียหายใดๆ หรือเป็นเนื้อหาต้องห้าม</li>
                </ol>
              </li>
              <li class="list-group-item">10.4. ผู้ใช้ระบบที่ลงประกาศรับทราบและตกลงว่า “เนื้อหาที่ใช้ในการลงประกาศ” ซึ่งรวมถึงแต่ไม่จำกัดเฉพาะ ข้อมูล ข้อความตัวอักษร ข้อความใดๆ รูปภาพ และรูปถ่าย จะไม่เป็นความลับ จะถูกเผยแพร่และพร้อมสำหรับการรับชมแบบสาธารณะ</li>
              <li class="list-group-item">10.5. ผู้ใช้ระบบที่ลงประกาศต้องปฏิบัติตามเงื่อนไขในหัวข้อเนื้อหาที่ท่านส่งมา และอื่นๆทั้งหมดในเงื่อนไขการใช้งานฉบับนี้</li>
              <li class="list-group-item">10.6. ผู้ใช้ระบบที่ลงประกาศเป็นผู้รับผิดชอบต่อความรับผิดตามมาตรฐานทางวิชาชีพบัญชี ตามจรรยาบรรณของผู้ประกอบวิชาชีพนั้นๆ และตามกฎหมายใดๆ อันเนื่องมาจากเนื้อหาที่ใช้ในการลงประกาศ</li>
              <li class="list-group-item">10.7. ผู้ใช้ระบบที่ลงประกาศรับผิดชอบและยืนยันว่าเนื้อหาที่ใช้ในการลงประกาศเป็นของตน ผู้ซึ่งมีกรรมสิทธิ์ และสิทธิอื่น ๆ ที่สมบูรณ์และได้รับความคุมครองทางกฎหมาย หรือตนได้รับการอนุญาตให้ใช้ที่ถูกต้องตามกฎหมาย ผู้ลงประกาศต้องรับผิดชอบแต่เพียงฝ่ายเดียวในกรณีที่มีการเรียกร้องความเสียหายที่เกี่ยวข้องกับเนื้อหาที่ใช้ในการลงประกาศโดยบุคคลอื่นที่มีสิทธิ์ที่เหนือกว่าผู้ลงประกาศ</li>
              <li class="list-group-item">10.8. ผู้ลงประกาศเป็นผู้รับผิดชอบแต่เพียงผู้เดียวต่อความถูกต้อง ความน่าเชื่อถือ ลักษณะ การปลอดจากสิทธิ์ การตรงตามกฎหมายและมาตรฐานทางวิชาชีพ ที่เกี่ยวข้องกับเนื้อหาที่ใช้ในการลงประกาศ บริษัทฯจะไม่รับผิดชอบต่อ ไม่รับรอง และจะไม่เฝ้าติดตามหรือตรวจสอบถึงความถูกต้อง ความน่าเชื่อถือ ลักษณะ การปลอดจากสิทธิ์ การตรงตามกฎหมายและมาตรฐานทางวิชาชีพ ผู้ลงประกาศจะไม่กำหนดให้บริษัทฯต้องรับผิดชอบต่อการดำเนินการหรือไม่ดำเนินการของผู้ใช้งานอื่นๆอันเนื่องมาจากประกาศของผู้ลงประกาศ</li>
              <li class="list-group-item">10.9. บริษัทฯสงวนสิทธิในการลบประกาศ ระงับการแสดงประกาศ หรือแก้ไขเปลี่ยนแปลงข้อมูลในประกาศ รวมทั้งปิดกั้นการเข้าสู่ระบบและระงับบัญชีผู้ใช้งานของผู้ลงประกาศ ซึ่งถือเป็นสิทธิขาดและขึ้นอยู่กับดุลพินิจของบริษัทฯแต่เพียงผู้เดียวโดยไม่ต้องบอกกล่าวแก่ผู้ลงประกาศเป็นการล่วงหน้า นอกจากนี้บริษัทฯไม่มีภาระผูกพันหรือความรับผิดชอบต่อผลหรือต่อบุคคลใดๆจากการดำเนินการนี้</li>
              <li class="list-group-item">10.11. ผู้ลงประกาศจะต้องให้ข้อมูลเกี่ยวกับบริการบัญชีของตน อย่างถูกต้อง เป็นจริง มีรายละเอียดครบถ้วน ถูกต้องตามกฎหมายที่ใช้บังคับและตามที่ขึ้นทะเบียนไว้กับหน่วยงานกำกับดูแล (ถ้ามี) และจะต้องเป็นไปตามมาตรฐานทางวิชาชีพและจรรยาบรรณของผู้ประกอบวิชาชีพ</li>
              <li class="list-group-item">10.12. ข้อความที่ใช้ลงประกาศจะต้องเป็นข้อความที่เหมาะสม สุภาพ ไม่ผิดมาตรฐานทางวิชาชีพและจรรยาบรรณของผู้ประกอบวิชาชีพ ไม่ผิดกฎหมาย ไม่เป็นเนื้อหาต้องห้าม ไม่ก่อให้เกิดความสูญเสียหรือเสียหายใดๆ ไม่ประกอบด้วยลิงค์ไปยังภายนอกแพลตฟอร์ม และไม่ประกอบด้วยข้อมูลติดต่อ </li>
              <li class="list-group-item">10.13. รูปภาพที่ใช้ในการลงประกาศจะต้องเป็นรูปที่เหมาะสม สุภาพ ไม่ผิดมาตรฐานทางวิชาชีพและจรรยาบรรณของผู้ประกอบวิชาชีพบัญชี ไม่ผิดกฎหมาย ไม่เป็นเนื้อหาต้องห้าม และจะต้องมีความชัดเจน เหมาะสม และมีความเกี่ยวข้องกับบริการบัญชีที่นำเสนอเท่านั้น</li>
              <li class="list-group-item">10.14. ราคาที่ระบุในประกาศต้องเป็นราคาซึ่งรวมภาษีและค่าธรรมเนียมต่างๆแล้ว และต้องเป็นราคาที่ผู้ลงประกาศในฐานะผู้ประกอบวิชาชีพบัญชีพิจารณาแล้วเห็นว่าไม่ขัดต่อจรรยาบรรณของผู้ประกอบวิชาชีพบัญชี บริษัทฯไม่มีส่วนร่วม ส่วนรู้เห็น ส่วนเกี่ยวข้องใด หรืออิทธิพลใดต่อการตั้งราคาของผู้ลงประกาศ</li>
              <li class="list-group-item">10.15. ผู้ลงประกาศต้องให้ข้อมูลการติดต่อ เช่น เบอร์โทรศัพท์ อีเมล์ ไลน์ไอดี เป็นต้น ภายในพื้นที่ที่แพลตฟอร์มได้จัดเตรียมไว้เท่านั้น โดยจะต้องเป็นข้อมูลติดต่อของผู้ลงประกาศที่ถูกต้อง เป็นจริง เป็นปัจจุบัน และสามารถติดต่อได้</li>
              <li class="list-group-item"><b>11. เงื่อนไขการอัพเกรดประกาศ</b></li>
              <li class="list-group-item">11.1. “การอัพเกรดประกาศ” คือ การซื้อสิทธิพิเศษในการแสดงประกาศบนหน้าต่างๆของแพลตฟอร์ม ตามเงื่อนไขของแต่ละแพ็คเกจที่ตกลงซื้อ ผู้ลงประกาศมีสิทธิอัพเกรดประกาศได้ และผู้ใช้สิทธิอัพเกรดประกาศ (“ผู้ซื้อ”) จะต้องตกลงที่จะผูกพันกับเงื่อนไขการอัพเกรดประกาศนี้ หากท่านไม่ยอมรับที่จะผูกพันกับเงื่อนไขการอัพเกรดประกาศนี้ กรุณาอย่าทำการอัพเกรดประกาศ</li>
              <li class="list-group-item">11.2. ผู้ซื้อสามารถอัพเกรดประกาศได้เองผ่านหน้าบัญชีสมาชิก โดยผู้ซื้อเข้าใจและยอมรับว่าบริษัทฯไม่รับรองหรือรับประกันว่าจำนวนผู้เข้าชมของประกาศของผู้ซื้อจะเพิ่มขึ้นแต่อย่างใดจากการอัพเกรดประกาศ ผู้ซื้อควรอัพเกรดประกาศภายหลังจากที่ได้พิจารณางบประมาณและวัตถุประสงค์ของตนแล้วเท่านั้น บริษัทฯจะไม่รับผิดต่อค่าชดเชยหรือความรับผิดใดๆ (รวมถึงแต่ไม่จำกัดเพียง ค่าใช้จ่ายและผลกำไรที่สูญเสียไปตามจริง) สำหรับผลลัพธ์หรือผลที่ตั้งใจไว้กับการอัพเกรดประกาศ</li>
              <li class="list-group-item">11.3. การอัพเกรดประกาศจะสิ้นสุดลงเมื่อครบระยะเวลาที่ผู้ซื้อเป็นผู้กำหนด (“ระยะเวลาการอัพเกรดประกาศ”) ทั้งนี้ผู้ซื้อไม่สามารถโอนระยะเวลาการอัพเกรดประกาศที่เหลือของประกาศหนึ่งไปใช้กับประกาศอื่นได้ อีกทั้งผู้ซื้อไม่สามารถยกเลิกคำสั่งซื้อและ/หรือร้องขอค่าธรรมเนียมคืนภายหลังจากที่ผู้ซื้อได้อัพเกรดประกาศและได้ชำระเงินเรียบร้อยแล้ว</li>
              <li class="list-group-item">11.4. ประกาศที่ลงประกาศบนแพลตฟอร์มจะต้องอยู่ภายใต้กฎหมายและกฎเกณฑ์ต่างๆ ที่เกี่ยวข้อง และเงื่อนไขการใช้งานนี้ ผู้ซื้อเข้าใจและตกลงให้บริษัทฯสิทธิในการลบประกาศออกได้ทันทีหากมีการละเมิดข้อกำหนดดังกล่าว และค่าธรรมเนียมการอัพเกรดประกาศที่ผู้ซื้อได้ชำระแล้วของประกาศที่ถูกลบออก ผู้ซื้อจะไม่ได้รับคืนแต่อย่างใด</li>
              <li class="list-group-item"><b>12. ข้อจำกัดความรับผิด</b></li>
              <li class="list-group-item">12.1. แพลตฟอร์มให้บริการในหลักเกณฑ์ “ตามสภาพ (as is)” และ “ตามที่มีอยู่หรือเป็นอยู่ (as available)” ไม่มีการรับรองหรือรับประกันอย่างใดๆ ไม่ว่าโดยปริยาย โดยชัดแจ้ง หรือโดยบทบัญญัติใดๆ</li>
              <li class="list-group-item">12.2. เนื้อหา ข้อมูล สาระ บทความ ความคิดเห็น และการเชื่อมต่ออื่นใดที่จัดสรรขึ้นหรือแสดงบนแพลตฟอร์มนี้ ไม่ได้รับการสำรวจ การตรวจสอบ หรือการรับรองโดยบริษัทฯแต่อย่างใดทั้งสิ้น</li>
              <li class="list-group-item">12.3. ท่านรับทราบและยอมรับว่าความเสี่ยงทั้งหมดที่เกิดขึ้นจากการใช้งานหรือการเข้าถึงแพลตฟอร์มนี้ตกเป็นของท่าน</li>
              <li class="list-group-item">12.4. บริษัทฯไม่มีความรับผิดในความเสียหายใดๆ ซึ่งรวมถึงแต่ไม่เป็นการจำกัดเพียง ความเสียหายทางตรง ความเสียหายทางอ้อม ความเสียหายพิเศษ ความเสียหายโดยบังเอิญ ความเสียหายเกี่ยวเนื่อง ความสูญหาย หรือค่าใช้จ่ายใดๆที่เกิดขึ้นอันเกี่ยวเนื่องกับการไม่สามารถดำเนินการ ข้อผิดพลาด การงดเว้นการกระทำ การสอดแทรก การบกพร่อง ความล่าช้าในการดำเนินการหรือการถ่ายโอนข้อมูล ไวรัสคอมพิวเตอร์ หรือการไม่ทำงานของเครือข่ายหรือระบบ ทั้งนี้ ถึงแม้ว่าบริษัทฯหรือตัวแทนของบริษัทฯจะได้รับแจ้งถึงความเป็นได้ในการเกิดความเสียหาย ความสูญหาย หรือค่าใช้จ่ายต่างๆดังกล่าวแล้วก็ตาม</li>
              <li class="list-group-item">12.5. บริษัทฯไม่รับประกันในความความปลอดภัยในข้อมูลใดๆที่ส่งโดยท่านหรือส่งไปยังท่าน ไม่ว่าจะผ่านแพลตฟอร์มหรือสื่อใดๆ และท่านยอมรับความเสี่ยงว่าข้อมูลใดๆที่ส่งหรือได้รับผ่านแพลตฟอร์มหรือสื่อใดๆอาจจะถูกเข้าถึงโดยบุคคลภายนอกที่ไม่ได้รับอนุญาตได้ และ/หรือเปิดเผยโดยบริษัทฯหรือตัวแทนของบริษัทฯให้แก่บุคคลภายนอกที่อ้างว่าเป็นท่านหรืออ้างว่ากระทำการโดยได้รับมอบอำนาจจากท่าน การส่งข้อมูลทางอินเทอร์เน็ตและไปรษณีย์อิเล็กทรอนิกส์อาจจะถูกขัดขวาง ขาดการติดต่อ ล่าช้า จากความแออัดในการส่งข้อมูลทางอินเทอร์เน็ตหรือมีการส่งข้อมูลไม่ถูกต้องเนื่องจากลักษณะของอินเทอร์เน็ตที่อาจถูกเปิดเผยต่อสาธารณะได้</li>
              <li class="list-group-item"><b>13. การชดใช้ค่าเสียหาย</b></li>
              <li class="list-group-item">13.1. ท่านตกลงที่จะชดใช้ ปกป้อง และทำให้บริษัทฯพ้นจากการเรียกร้องสิทธิ การดำเนินการ การดำเนินคดี และการฟ้องร้องคดี รวมถึงหนี้สิน ความเสียหาย การชำระหนี้ บทลงโทษ ค่าปรับ ค่าใช้จ่ายและต้นทุนที่เกี่ยวข้องทั้งหมด (รวมถึงแต่ไม่จำกัดเพียง ค่าใช้จ่ายในการยุติข้อพิพาทอื่นๆ) ที่เกิดแก่บริษัทฯ อันเกิดจากการใช้งานหรือการเข้าถึงแพลตฟอร์มโดยท่าน หรือจากการละเมิดซึ่งเงื่อนไขการใช้งานฉบับนี้โดยท่าน</li>
              <li class="list-group-item"><b>14. ข้อห้ามการใช้บริการ และการบอกเลิกสัญญา</b></li>
              <li class="list-group-item">14.1. ท่านจะต้องไม่ใช้แพลตฟอร์มเพื่อวัตถุประสงค์ใดๆซึ่งเป็นสิ่งที่ผิดกฎหมายหรือต้องห้ามตามเงื่อนไขการใช้งานนี้ ท่านจะไม่ใช้แพลตฟอร์มในลักษณะใดๆซึ่งสามารถทำให้เกิดความเสียหายหรือทำให้ไร้ซึ่งความสามารถแก่แพลตฟอร์มหรือเครือข่ายที่เชื่อมต่อกับแพลตฟอร์ม หรือทำให้เกิดการรบกวนการใช้งานแพลตฟอร์มของบุคคลอื่นใด ท่านจะต้องไม่พยายามเข้าสู่แพลตฟอร์ม หรือระบบคอมพิวเตอร์หรือเครือข่ายที่เชื่อมต่อกับแพลตฟอร์ม โดยปราศจากอำนาจ ไม่ว่าด้วยวิธีการเจาะฐานข้อมูล (hacking) ทำลายรหัสลับส่วนตัว (password mining) หรือวิธีการอื่นใด</li>
              <li class="list-group-item">14.2. บริษัทฯสงวนสิทธิที่จะใช้ดุลพินิจแต่เพียงผู้เดียวในการบอกเลิกสัญญานี้ ในการยกเลิกการให้เข้าสู่หรือใช้งานแพลตฟอร์มไม่ว่าบางส่วนหรือทั้งหมด และในการยกเลิกหรือระงับบัญชีผู้ใช้งาน ทั้งนี้การบอกเลิกหรือยกเลิกดังกล่าว บริษัทฯสามารถกระทำเมื่อใดก็ได้ โดยไม่ต้องแจ้งสาเหตุ และไม่ต้องมีการแจ้งถึงการบอกเลิกหรือยกเลิก</li>
              <li class="list-group-item"><b>15. การรายงานการละเมิดสิทธิ์ในทรัพย์สินทางปัญญา</b></li>
              <li class="list-group-item">15.1. ผู้ใช้งานเป็นปัจเจกบุคคลหรือธุรกิจที่เป็นอิสระและไม่เกี่ยวข้องกับบริษัทฯไม่ว่าในทางใด บริษัทฯมิใช่ตัวแทนหรือผู้แทนของผู้ใช้งานหรือผู้สอน บริษัทฯมิได้ครอบครองและ/หรือเป็นเจ้าของบริการบัญชีใดๆที่ลงประกาศไว้บนแพลตฟอร์ม</li>
              <li class="list-group-item">15.2. หากท่านเป็นเจ้าของสิทธิในทรัพย์สินทางปัญญาและท่านเชื่อว่าสิทธิของท่านได้ถูกละเมิด โปรดแจ้งให้บริษัทฯทราบเป็นลายลักษณ์อักษรโดยส่งทางอีเมลมาที่ โปรดให้เวลาบริษัทฯประมวลข้อมูลและบริษัทฯจะตอบข้อร้องเรียนของท่านโดยเร็วที่สุดเท่าที่สามารถดำเนินการได้</li>
              <li class="list-group-item"><b>16. ข้อกำหนดทั่วไป</b></li>
              <li class="list-group-item">16.1. บริษัทฯสงวนสิทธิทั้งหมดที่ไม่ได้แจ้งไว้ในที่นี้</li>
              <li class="list-group-item">16.2. เว้นแต่จะระบุไว้เป็นอย่างอื่น สกุลเงินที่ใช้อ้างถึงบนแพลตฟอร์มคือเงินบาทไทย</li>
              <li class="list-group-item">16.3. การที่บริษัทฯไม่ได้บังคับตามเงื่อนไขการใช้งานนี้จะไม่ถือเป็นการสละสิทธิในเงื่อนไขนี้ และการไม่ได้บังคับดังกล่าวจะไม่กระทบต่อสิทธิที่จะบังคับตามเงื่อนไขการใช้งานนี้ในภายหลัง บริษัทฯยังคงมีสิทธิที่จะใช้สิทธิและการเยียวยาของบริษัทฯในสถานการณ์อื่นใดที่ท่านกระทำการผิดสัญญาในเงื่อนไขการใช้งานนี้</li>
              <li class="list-group-item">16.4. หากข้อกำหนดใดในเงื่อนไขการใช้งานนี้ถือว่าผิดกฎหมาย เป็นโมฆะ หรือไม่สามารถบังคับใช้ได้ไม่ว่าด้วยเหตุผลใด ให้ถือว่าข้อกำหนดนั้นสามารถแยกออกจากกันได้จากข้อกำหนดที่เหลือ และไม่ส่งผลต่อความสมบูรณ์และการมีผลบังคับใช้ของข้อกำหนดที่เหลือ</li>
              <li class="list-group-item">16.5. บริษัทฯสงวนสิทธิที่จะมอบหมายหรือทำสัญญาช่วงการปฏิบัติตามหน้าที่ใดๆของบริษัทฯอันเกี่ยวพันกับแพลตฟอร์มและ/หรือบริษัทฯ และสงวนสิทธิที่จะใช้ผู้ให้บริการภายนอก ผู้รับเหมาช่วง และ/หรือตัวแทนรายใดในเงื่อนไขที่บริษัทฯเห็นว่าเหมาะสม</li>
              <li class="list-group-item">16.6. ท่านไม่อาจโอนสิทธิของท่านภายใต้เงื่อนไขการใช้งานนี้หากไม่ได้รับความยินยอมล่วงหน้าเป็นลายลักษณ์อักษรจากบริษัทฯ บริษัทฯอาจจะโอนสิทธิของบริษัทฯภายใต้เงื่อนไขการใช้งานนี้แก่บุคคลภายนอกคนใดก็ได้</li>
              <li class="list-group-item">16.7. บริษัทฯไม่ต้องรับผิดในการไม่ปฏิบัติตามหน้าที่ของบริษัทฯภายใต้เงื่อนไขการใช้งานนี้ (หรือส่วนหนึ่งส่วนใดของเงื่อนไขการใช้งานนี้) หรือในความไม่ถูกต้อง ความไม่น่าเชื่อถือ หรือความไม่เหมาะสมใดๆของแพลตฟอร์ม หากไม่ว่าทั้งหมดหรือบางส่วน ไม่ว่าโดยตรงหรือโดยอ้อม เกิดจากเหตุการณ์หรือความผิดพลาดที่อยู่เหนือการควบคุมอย่างเหมาะสมของบริษัทฯ (เหตุสุดวิสัย)</li>
              <li class="list-group-item">16.8. เงื่อนไขการใช้งานนี้อยู่ภายใต้บังคับของกฎหมายแห่งราชอาณาจักรไทย และข้อพิพาทใดๆที่เกี่ยวข้องจะอยู่ภายใต้อำนาจในการตัดสินคดีของศาลไทย</li>
              <li class="list-group-item"><b>17. คำถามและข้อร้องเรียน</b></li>
              <li class="list-group-item">17.1. หากท่านมีคำถาม ข้อร้องเรียน หรือปัญหาใดๆเกี่ยวกับเงื่อนไขการใช้งานนี้ โปรดติดต่อบริษัทฯที่ หรือผ่านทางช่องทางการติดต่อในหน้าติดต่อเรา</li>
            </ul>

            <div class="custom-control custom-checkbox mt-3 text-center">
              <input type="checkbox" class="custom-control-input" id="acceptterms" name="acceptterms" value="1" />
              <label class="custom-control-label font-weight-bold" for="acceptterms">
                <%= translation.accept_text%>
              </label>
            </div>
          </div>
        </div>
        <div class="container d-none" id="nextbutton">

          <form action="<%= original_source %>/register" method="post">
            <div class="form-actions text-center">
              <button type="submit" disabled
                class="btn btn-primary-theme ml-auto btn-md"><%= translation.next_text%></button>

            </div>
          </form>
        </div>
      </div>
    </div>
    <%- include('../partials/aside'); -%>
  </main>
  <!-- ========== END MAIN CONTENT ========== -->
  <%- include('../partials/footer'); -%> <%- include('../partials/script');
    -%>
  <script>
    function feedPage() {}
  </script>
</body>

</html>