<!DOCTYPE html>
<html lang="<%= i18n_lang %>">

<head>
  <%- include('../partials/head'); -%> <%- include('../partials/nav'); -%>
</head>

<body>
  <%- include('../partials/header'); -%>
  <!-- ========== MAIN CONTENT ========== -->
  <main id="content" role="main">
    <% if (uid == 0) { %>
    <div class="container space-bottom-xs-1 mt-4 py-2 px-sm-0">
      <div class="row">
        <div class="text-center col-12">
          <form role="form" method="get" action="<%= original_source %>">
          <div>
            <div class="alert alert-success registration_successful" role="alert">
              <h4 class="alert-heading"> <%= translation.forgot_successful3 %> </h4>
              <p><%= translation.forgot_successful4 %></p>
            </div>
            <div class="form-actions text-center">
              <button type="submit" class="btn btn-primary-theme ml-auto btn-md"><%= translation.close_txt%></button>
            </div>
          </div></form>
        </div>
      </div>
    </div>
    <% }else { %>
    <div class="container"><br/>
      <form role="form" method="post" action="<%= original_source %>/member/forgot-update"
        class="js-validate w-md-75 w-lg-50 mx-md-auto">
        <% /* <input type="hidden" value="" name="g_recaptcha_response" id="g-recaptcha-response" /> */ %>

        <!-- Form Group -->
        <div class="js-form-message form-group">
          <label class="form-label" for="email2"><%= translation.menu_text_login_password%></label>
          <input type="password" autocomplete="off" class="form-control" name="password1" id="password1" placeholder="********" required
            pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" maxlength="20">
          <small class="form-text text-muted">ตัวอักษรอังกฤษพิมพ์เล็กพิมพ์ใหญ่และตัวเลข ความยาว 8-20 ตัวอักษร</small>
        </div>

        <!-- Form Group -->
        <div class="js-form-message form-group">
          <label class="form-label" for="password2">
            <span class="d-flex justify-content-between align-items-center">
              <%= translation.menu_text_login_repassword%>
            </span>
          </label>
          <input type="password" autocomplete="off" class="form-control" name="password2" id="password2" required placeholder="********"
            required />
        </div>
        <!-- End Form Group -->

        <!-- Button -->
        <div class="row align-items-center mb-5">
          <div class="col-6">
            <%= translation.remember_your_password%>
            <a class="link-muted text-capitalize font-weight-normal target-of-invoker-has-unfolds" href="../login">
              <%= translation.login_txt%></a>
          </div>

          <div class="col-6 text-right">
            <input type="hidden" name="uid" value="<%= uid %>" />
            <button type="submit" class="btn btn-primary-theme transition-3d-hover" id="b-submit-login">
              <%= translation.save_text%></a>
            </button>
          </div>
        </div>
        <!-- End Button -->
      </form>
    </div>
    <% } %>
    <div class="space-top-3 d-none d-md-block d-lg-block d-xl-block"></div>
    <!-- The Modal -->
    <div class="modal fade" id="loginerror">
      <div class="modal-dialog">
        <div class="modal-content">
          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title text-center">ล็อกอินผิดพลาด</h4>
            <button type="button" class="close" data-dismiss="modal">x</button>
          </div>
          <!-- Modal body -->
          <div class="card-body">
            <p> กรอกรหัสผู้ใช้งานหรือรหัสผ่านไม่ถูกต้อง <br>กรุณาลองใหม่ </p>
          </div>

          <!-- Footer -->
          <div class="card-footer d-flex justify-content-end">
            <button type="button" class="btn btn-sm btn-primary-theme transition-3d-hover "
              data-dismiss="modal">ปิด</button>
          </div>
          <!-- End Footer -->
        </div>
      </div>
    </div>
    <%- include('../partials/aside'); -%>
  </main>
  <!-- ========== END MAIN CONTENT ========== -->
  <%- include('../partials/footer'); -%> <%- include('../partials/script');
    -%>
  <script>
    function feedPage() {}
  </script>
</body>

</html>